{% extends 'index.html' %} {% block content %} {% load staticfiles %}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Libraries/</span> Division</h4>

        <!-- DataTable with Buttons -->
        <div class="card">
            <div class="card-datatable table-responsive pt-0">
                <table id="tbl-items" class="table">
                    <thead>
                        <tr>
                            <th>Division</th>
                            <th>Acronym</th>
                            <th>Division Chief</th>
                            <th>Chief Designation</th>
                            <th>Approval</th>
                            <th>Approval Designation</th>
                            <th>Created by</th>
                            <th>Date added</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

      <!-- Modal to add new record -->
<div class="offcanvas offcanvas-end" id="add-new-record">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel"><p class="title-name">Add Record</p></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <form class="add-new-record pt-0 row g-2" id="item-form">
            <input type="hidden" id="item-id" name="ItemID" />
            <div class="col-sm-12">
                <label class="form-label">Division </label>
                
                <input
                  type="text"
                  id="division"
                  class="form-control dt-lib-division"
                  name="Division"
                  placeholder="Enter Division"
                  aria-describedby="division2"
                />
            </div>

            <div class="col-sm-12">
                <label class="form-label">Acronym</label>
                
                <input
                  type="text"
                  id="acronym"
                  class="form-control dt-lib-acronym"
                  name="Acronym"
                  placeholder="Enter Acronym"
                  aria-describedby="acronym2"
                />
            </div>

            <div class="col-sm-12">
                <label class="form-label">Division Chief </label>
                
                <input
                  type="text"
                  id="chief"
                  class="form-control dt-lib-chief"
                  name="Chief"
                  placeholder="Division Chief Name"
                  aria-describedby="chief2"
                />
            </div>
            <div class="col-sm-12">
                <label class="form-label">Chief Designation </label>
                
                <input
                  type="text"
                  id="c_approval"
                  class="form-control dt-lib-chief"
                  name="CDesignation"
                  placeholder="Designation"
                  aria-describedby="chief2"
                />
            </div>
            <div class="col-sm-12">
                <label class="form-label">Approval </label>
                
                <input
                  type="text"
                  id="approval"
                  class="form-control dt-lib-chief"
                  name="Approval"
                  placeholder="Approval"
                  aria-describedby="chief2"
                />
            </div>
            <div class="col-sm-12">
                <label class="form-label">Approval Designation </label>
                
                <input
                  type="text"
                  id="ap_designation"
                  class="form-control dt-lib-chief"
                  name="APDesignation"
                  placeholder="Designation"
                  aria-describedby="chief2"
                />
            </div>
            <div class="col-sm-12 mt-4">
                <button name="submitButton" class="btn btn-primary data-submit me-sm-3 me-1 additional-record">Submit</button>
                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
            </div>
        </form>
    </div>
</div>

{% endblock %} {% block footer_scripts %}
<script>
    let clicked_id = 0;
    $(document).ready(function () {
        const table = $('#tbl-items')
        const ItemFormValidation = document.getElementById('item-form'),
            Division = jQuery(document.querySelector('[name="Division"]')),
            Acronym = jQuery(document.querySelector('[name="Acronym"]')),
            DivisionChief = jQuery(document.querySelector('[name="Chief"]')),
            CDesignation = jQuery(document.querySelector('[name="CDesignation"]')),
            Approval = jQuery(document.querySelector('[name="Approval"]')),
            APDesignation = jQuery(document.querySelector('[name="APDesignation"]')),
            Status = jQuery(document.querySelector('[name="Status"]')),
            offCanvasElement = document.querySelector('#add-new-record');
            
        const offCanvasEl = new bootstrap.Offcanvas(offCanvasElement);
        const toast_options = (toastr.options = {
            maxOpened: 1,
            autoDismiss: true,
            closeButton: true,
            newestOnTop: true,
            progressBar: true,
            positionClass: 'toast-top-right',
            rtl: isRtl,
      });
        let ItemID = $('#item-id')

        let dataTable = table.DataTable({
            processing: true,
            serverSide: true,
            ajax: "{% url 'division-load' %}",
            columns: [
                { data: 'name' },
                { data: 'acronym' },
                { data: 'chief' },
                { data: 'c_designation' },
                { data: 'approval' },
                { data: 'ap_designation' },
                { data: 'created_by' },
                { data: 'updated_at' },
                { data: 'id' },
            ],
            columnDefs: [
                {
                    targets: 0,
                    render: function (data) {
                        return data
                    },
                },
                {
                    targets: 7,
                    render: function (data) {
                        return moment(data).format('LLL')
                    },
                },
                {
                  targets: -1,
                  title: 'Action',
                  orderable: false,
                  searchable: false,
                  render: function (data) {
                      return (
                          '<a href="javascript:;" data-id="' + data + '" class="item-edit text-body"><i class="text-primary ti ti-pencil"></i></a>'
                      )
                  },
              },
            ],
            dom: '<"card-header flex-column flex-md-row"<"head-label text-center"><"dt-action-buttons text-end pt-3 pt-md-0"B>><"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"f>>t<"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
            buttons: [
                {
                    text: '<i class="ti ti-plus me-sm-1"></i> <span class="d-none d-sm-inline-block">Add New Record</span>',
                    className: 'create-new btn btn-primary',
                },
            ],
            drawCallback: function (settings) {
                $('.item-edit').on('click', function () {
                    let id = $(this).data('id');
                    
                    $('.title-name').text('Update Division Record');
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'division-edit' %}?id=" + id,
                        dataType: 'json',
                    }).done(function (data) {
                        if (data.length > 0) {
                            let fields = data[0].fields
                            let pk = data[0].pk
                            let division = $('#division')
                            Division.val(fields.name);
                            Acronym.val(fields.acronym);
                            DivisionChief.val(fields.chief);
                            CDesignation.val(fields.c_designation);
                            Approval.val(fields.approval);
                            APDesignation.val(fields.ap_designation);
                            ItemID.val(pk)
                            offCanvasEl.show()
                        }
                    })
                }),
                $('.item-details').on('click', function () {
                    clicked_id = $(this).data('id')
                })


            },
        })
        $('div.head-label').html('<h5 class="card-title mb-0">Division</h5>')

        const newRecord = document.querySelector('.create-new')

        setTimeout(() => {
            if (newRecord) {
                newRecord.addEventListener('click', function () {
                    ItemID.val(0);
                 
                    $('.title-name').text('Add Record');
                    Division.val('');
                    Acronym.val('');
                    DivisionChief.val('');
                    $('.form-control').val('');
         
                    offCanvasEl.show();
                })
            }
        }, 200)

        // Form validation for Add new record
        const fv = FormValidation.formValidation(ItemFormValidation, {
            fields: {
                Division: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Division',
                        },
                    },
                },
                Acronym: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Acronym',
                        },
                    },
                },
                Chief: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter DC Name',
                        },
                    },
                },
                CDesignation: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Designation',
                        },
                    },
                },
                Approval: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Approval Name',
                        },
                    },
                },
                APDesignation: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Designation',
                        },
                    },
                },
  
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                bootstrap5: new FormValidation.plugins.Bootstrap5(),
                submitButton: new FormValidation.plugins.SubmitButton(),
                autoFocus: new FormValidation.plugins.AutoFocus(),
            },
            init: (instance) => {
                instance.on('plugins.message.placed', function (e) {
                    if (e.element.parentElement.classList.contains('input-group')) {
                        e.element.parentElement.insertAdjacentElement('afterend', e.messageElement)
                    }
                })
            },
        }).on('core.form.valid', function () {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, save it!',
                customClass: {
                    confirmButton: 'btn btn-primary me-3',
                    cancelButton: 'btn btn-label-secondary',
                },
                buttonsStyling: false,
            }).then(function (result) {
                if (result.value) {
                    var form_data = $('#item-form').serialize()
                    let post_url = ItemID.val() != '0' ? "{% url 'division-update' %}" : "{% url 'division-add' %}"
                    $.ajax({
                        type: 'POST',
                        url: post_url,
                        data: form_data,
                    }).done(function (data) {
                        if (data.data == 'success') {
                            Swal.fire({
                                icon: 'success',
                                title: 'Successfully save!',
                                text: 'Item has been save.',
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })
                            offCanvasEl.hide()
                            dataTable.ajax.reload()
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error saving!',
                                text: data.message,
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })
                        }
                    })
                }
            })
        })

        $('#approved').click(function() {
            let final_amount = $("#final_amount").val().trim();
            let correctness_remarks = $("#correctness_remarks").val().trim();
            let status = 1; 
              if (final_amount === "") {  
                $("#amount_error").text("Please enter Amount");
                $("#remarks_error").text("");
                $(".input-group").addClass("has-error");
                event.preventDefault();
              } else {
                $("#amount_error").text("");
                $("#remarks_error").text("");
                $(".input-group").removeClass("has-error");
                tev_details(final_amount,correctness_remarks,status,clicked_id);
              }
          });
          
          $('#returned').click(function() {
            let final_amount = $("#final_amount").val().trim();
            let correctness_remarks = $("#correctness_remarks").val().trim();
            let status = 2;
              if (correctness_remarks === "") {
                $("#amount_error").text("");
                $("#remarks_error").text("Please enter Remarks for returned.");
                $(".input-group").addClass("has-error");
                event.preventDefault();
              } else {
                $("#remarks_error").text("");
                $(".input-group").removeClass("has-error");
                tev_details(final_amount,correctness_remarks,status,clicked_id);
              }
              
            });

        function tev_details(amount,remarks,status,emp_id){
            $.ajax({
                type: "POST",
                data:{
                    final_amount: amount,
                    correctness_remarks: remarks,
                    status : status,
                    transaction_id : emp_id
                }
                }).done(function(data){
                if (data.data == 'success') {
                    toastr.success('Successfully save', 'Success', toast_options);
                    offCanvasEl.hide()
                } else {
                    toastr.danger('Data not saved', 'Danger', toast_options);
                }
            });
            }
    })
</script>
{% endblock footer_scripts %}
