{% extends 'index.html' %} {% block content %} {% load staticfiles %}
<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-fluid flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Libraries /</span> Fare Matrix</h4>

        <!-- DataTable with Buttons -->
        <div class="card">
            <div class="card-datatable table-responsive pt-0">
                <table id="tbl-items" class="table">
                    <thead>
                        <tr>
                            <th>ACRONYM</th>
                            <th>MUNICIPALITY</th>
                            <th>BARANGAY</th>
                            <th>PUROK</th>
                            <th>MEANS OF TRANSPORTATION</th>
                            <th>MOST ECONOMICAL RATE OF TRANSPORTATION (Regular Fare)</th>
                            <th>HIRE RATE (one way)</th>
                            <th>HIRE RATE (ROUND TRIP-WHOLE DAY)</th>
                            <th>ESTIMATED DURATION OF TRAVEL</th>
                            <th>JUSTIFICATION FOR THE UNUSUAL/HIGH FARE RATE (Indicate if the situation is year round or occational)</th>
                            <th>REMARKS</th>
                            <th>ACTIONS</th>
                            
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Modal to add new record -->
<div class="offcanvas offcanvas-end" id="add-new-record">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel"><p class="title-name">Add Record</p></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <form class="add-new-record pt-0 row g-2" id="item-form">
            <input type="hidden" id="item-id" name="ItemID" />
            <div class="col-sm-12">
                <label class="form-label" for="province-name_">Province <span style="color: red;font-weight: bold;"> *</span></label>
                <select id="province-name_" name="ProvinceName_" class="form-select province-name_" data-allow-clear="true">
                    {% for row in provinces %}
                    <option value="{{ row.psgc_province }}">{{ row.prov_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-12">
                <label class="form-label" for="province-acronym">Acronym</label>
                <input
                  type="text"
                  id="province-acronym"
                  class="form-control dt-province-acronym"
                  name="ProvinceAcronym"
                  placeholder="Acronym"
                  aria-describedby="provinceacronym"
                  disabled
                />
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label" for="municipality-name">Municipality<span style="color: red;font-weight: bold;"> *</span></label>
                    <select id="municipality-name" name="MunicipalityName" class="form-select municipality-name" data-allow-clear="true">
                        <option></option>
                    </select>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label" for="barangay-name">Barangay<span style="color: red;font-weight: bold;"> *</span></label>
                    <select id="barangay-name" name="BarangayName" class="form-select barangay-name" data-allow-clear="true">
                        <option></option>
                    </select>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-md-12 mb-2">
                  <label for="flatpickr-multi" class="form-label">Purok</label>
                  <input
                    type="text"
                    id="purok-name"
                    class="form-control dt-province-acronym"
                    name="PurokName"
                    placeholder="Enter purok"
                    aria-describedby="purok2"
                    autocomplete="off"
                  />
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-md-12 mb-2">
                  <label for="flatpickr-multi" class="form-label">Means of Transportation</label>
                  
                    <select id="means-of-transportation" name="MeansOfTransportation" class="form-select means-of-transportation" data-allow-clear="true">
                        <option></option>
                        {% for row in m_o_t %}
                            <option value="{{ row.id }}">{{ row.transportation_name }}</option>
                        {% endfor %}
                    </select>
                  
                  <!-- <input
                    type="text" 
                    id="means-of-transportation"
                    class="form-control dt-means-of-transportation"
                    name="MeansOfTransportation"
                    placeholder="Enter vehicle"
                    aria-describedby="means_of_transpo2"
                    autocomplete="off"
                  /> -->
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-md-12 mb-2">
                  <label for="flatpickr-multi" class="form-label">Most Economical Rate of Transportation (Regular Fare)</label>
                  <input
                    type="number"
                    id="rate-regular-fare"
                    class="form-control dt-regular-fare"
                    name="RateRegularFare"
                    placeholder="Enter amount"
                    aria-describedby="regular_fare2"
                  />
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-md-12 mb-2">
                  <label for="flatpickr-multi" class="form-label">Hire Rate (One Way)</label>
                  <input
                    type="number"
                    id="high-rate-one-way"
                    class="form-control dt-high-rate"
                    name="HireRateOneWay"
                    placeholder="Enter rate"
                    aria-describedby="high_rate2"
                  />
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-md-12 mb-2">
                  <label for="flatpickr-multi" class="form-label">Hire Rate (Round trip-whole day)</label>
                  <input
                    type="number"
                    id="high-rate-whole-day"
                    class="form-control dt-high-rate-whole-day"
                    name="HireRateWholeDay"
                    placeholder="Enter rate"
                    aria-describedby="high_rate2"
                  />
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-md-12 mb-2">
                  <label for="flatpickr-multi" class="form-label">Estimated Duration of Travel</label>
                  <input
                    type="text"
                    id="estimated-duration-of-travel"
                    class="form-control dt-estimated-duration-of-travel"
                    name="EstimatedDurationOfTravel"
                    placeholder="Enter duration"
                    aria-describedby="estimated_duration_of_travel2"
                    autocomplete="off"
                  />
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-md-12 mb-2">
                  <label for="flatpickr-multi" class="form-label">Justification for the Unusual/High Fare Rate</label>
                  <textarea
                    id="justification-rate"
                    class="form-control dt-justification-rate"
                    name="Justification"
                    placeholder="Enter Justification"
                    aria-describedby="estimated_duration_of_travel2"
                    autocomplete="off"
                    >
                  </textarea>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-md-12 mb-2">
                  <label for="flatpickr-multi" class="form-label">Remarks</label>
                  <textarea
                    id="dt-remarks"
                    class="form-control dt-estimated-duration-of-travel"
                    name="DtRemarks"
                    placeholder="Enter Remarks"
                    aria-describedby="dt_remarks2"
                    autocomplete="off"
                    >
                  </textarea>
                </div>
            </div>



            <div class="row">
                <div class="col-12">
                    <span id="remarks_error" style="color: red;"></span>
                </div>
            </div>
   


            <div class="col-sm-12 mt-4">
                <button name="submitButton" class="btn btn-primary data-submit me-sm-3 me-1 additional-record">Submit</button>
                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
            </div>
            <input id="id-number" name="IdNumber" class="form-control idn" type="hidden" placeholder="16-0000"/>
            <input id="acct-number" name="AccountNumber" class="form-control accn" type="hidden" placeholder="000000"/>
            <input id="emp-name" name="EmpName" class="form-control accn" type="hidden" placeholder="nane"/>
            <input id="emp-middle" name="EmpMiddle" class="form-control accn" type="hidden" placeholder="middle"/>
            <input id="emp-lastname" name="EmpLastname" class="form-control accn" type="hidden" placeholder="lastname"/>
            <input id="hdate-travel" name="HDateTravel" class="form-control accn" type="hidden" placeholder="Date Travel"/>
            <input id="division-user" name="DivisionUser" class="form-control accn" type="hidden" placeholder="Division"/>
            <input id="contact-no" name="ContactNo" class="form-control accn" type="hidden" placeholder="09+"/>
            <input id="section-user" name="SectionUser" class="form-control accn" type="hidden" placeholder="Section"/>

            <input type="hidden" id="province-name2" class="form-control dt-province-name2" name="ProvinceName2" placeholder="" />
            <input type="hidden" id="municipality-name2" class="form-control dt-municipality-name2" name="MunicipalityName2" placeholder="" />
            <input type="hidden" id="barangay-name2" class="form-control dt-barangay-name2" name="BarangayName2" placeholder="" />
            <input type="hidden" id="province-acronym2" class="form-control dt-province-acronym2" name="ProvinceAcronym2" placeholder="" />
            <input type="hidden" id="province-code" class="form-control dt-province-acronym" name="ProvinceCode" placeholder="" />
            <input type="hidden" id="municipality-code" class="form-control dt-province-acronym" name="MunicipalityCode" placeholder=""/>
            <input type="hidden" id="barangay-code" class="form-control dt-province-acronym" name="BarangayCode" placeholder=""/>
        </form>
    </div>
</div>


{% endblock %} {% block footer_scripts %}
<script>
    let clicked_id = 0;
    let dataTable;
    $(document).ready(function () {

        const table = $('#tbl-items')
        const ItemFormValidation = document.getElementById('item-form'),
            ProvinceCode = jQuery(document.querySelector('[name="ProvinceCode"]')),
            MunicipalityCode = jQuery(document.querySelector('[name="MunicipalityCode"]')),
            BarangayCode = jQuery(document.querySelector('[name="BarangayCode"]')),
            ProvinceName = jQuery(document.querySelector('[name="ProvinceName_"]')),
            ProvinceAcronym = jQuery(document.querySelector('[name="ProvinceAcronym"]')),
            ProvinceAcronym2 = jQuery(document.querySelector('[name="ProvinceAcronym2"]')),
            MunicipalityName = jQuery(document.querySelector('[name="MunicipalityName"]')),
            BarangayName = jQuery(document.querySelector('[name="BarangayName"]')),
            ProvinceName2 = jQuery(document.querySelector('[name="ProvinceName2"]')),
            MunicipalityName2 = jQuery(document.querySelector('[name="MunicipalityName2"]')),
            BarangayName2 = jQuery(document.querySelector('[name="BarangayName2"]')),
            PurokName = jQuery(document.querySelector('[name="PurokName"]')),
            MeansOfTransportation = jQuery(document.querySelector('[name="MeansOfTransportation"]')),
            RateRegularFare = jQuery(document.querySelector('[name="RateRegularFare"]')),
            HireRateOneWay = jQuery(document.querySelector('[name="HireRateOneWay"]')),
            HireRateWholeDay = jQuery(document.querySelector('[name="HireRateWholeDay"]')),
            EstimatedDurationOfTravel = jQuery(document.querySelector('[name="EstimatedDurationOfTravel"]')),
            Justification = jQuery(document.querySelector('[name="Justification"]')),
            DtRemarks = jQuery(document.querySelector('[name="DtRemarks"]')),
            offCanvasElement = document.querySelector('#add-new-record');
        const offCanvasEl = new bootstrap.Offcanvas(offCanvasElement);
        const toast_options = (toastr.options = {
            maxOpened: 1,
            autoDismiss: true,
            closeButton: true,
            newestOnTop: true,
            progressBar: true,
            positionClass: 'toast-top-right',
            rtl: isRtl,
      });
        let ItemID = $('#item-id')

        dataTable = table.DataTable({
            processing: true,
            serverSide: true,
            ajax: "{% url 'fare-matrix-load' %}",
            columns: [
                { data: 'province_acronym' },
                { data: 'municipality' },
                { data: 'barangay' },
                { data: 'purok' },
                { data: 'means_of_transportation' },
                { data: 'rate_regular_fare' },
                { data: 'hire_rate_one_way' },
                { data: 'hire_rate_whole_day' },
                { data: 'estimated_duration_of_travel' },
                { data: 'justification' },
                { data: 'remarks' },
                { data: 'id'},
            ],
            columnDefs: [
                {
                    targets: 0,
                    render: function (data) {
                        return (
                            '<span class="badge bg-label-primary">' + data + '</span>'
                        );
                        
                    },
                },
                {
                    targets: -1,
                    title: 'Action',
                    orderable: false,
                    searchable: false,
                    render: function (data) {
                        return (
                            '<a href="javascript:;" data-id="' + data + '" class="item-edit text-body"><i class="text-primary ti ti-pencil"></i></a>&nbsp;&nbsp;'
                        );
                    },
                }
            ],
            dom: '<"card-header flex-column flex-md-row"<"head-label text-center"><"dt-action-buttons text-end pt-3 pt-md-0"B>><"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"f>>t<"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
            buttons: [
                {
                    text: '<i class="ti ti-plus me-sm-1"></i> <span class="d-none d-sm-inline-block">Add New Record</span>',
                    className: 'create-new btn btn-primary',
                },
            ],
            drawCallback: function (settings) {
                $('.item-edit').on('click', function () {
                    let id = $(this).data('id');
                    
                    $('.title-name').text('Update Fare Matrix Record');

                    $.ajax({
                        type: 'GET',
                        url: "{% url 'fare-matrix-edit' %}?id=" + id,
                        dataType: 'json',
                    }).done(function (data) {
                        if (data.length > 0) {
                            let fields = data[0].fields
                            let prov_code = fields.prov_code;
                            let city_code = fields.city_code;
                            let brgy_code = fields.brgy_code;
                            load_select(1,prov_code,city_code);
                            let pk = data[0].pk
                            let remarks = $('#province-name');
                            ProvinceName.val(prov_code).trigger('change');
                            ProvinceAcronym.val(fields.province_acronym);
                            setTimeout(() => {
                                MunicipalityName.val(city_code).trigger('change');

                            }, 200);
                            setTimeout(() => {
                                BarangayName.val(fields.brgy_code).trigger('change');

                            }, 500);
                            PurokName.val(fields.purok);
                            MeansOfTransportation.val(fields.means_of_transportation_id).trigger('change');
                            RateRegularFare.val(fields.rate_regular_fare);
                            HireRateOneWay.val(fields.hire_rate_one_way);
                            HireRateWholeDay.val(fields.hire_rate_whole_day);
                            EstimatedDurationOfTravel.val(fields.estimated_duration_of_travel);
                            Justification.val(fields.justification);
                            DtRemarks.val(fields.remarks);
                            ItemID.val(pk)
                            offCanvasEl.show();

               
                        }
                    })
                }),
                $('.item-details').on('click', function () {
                    clicked_id = $(this).data('id')
                })

                $('.switch-input').on('change', function () {
                    var $this = $(this);
                    var dataId = $this.data('id');
                    var isChecked = $this.is(":checked");
                    var newStatus = isChecked ? 1 : 0;
                    var newLabel = isChecked ? "Active" : "Inactive";
                    $("#switch-label-" + dataId).text(newLabel);
                    $.ajax({
                        url: "{% url 'remarks-status-edit' %}",
                        type: "POST",
                        data: {
                            id: dataId,
                            status: newStatus
                        },
                        success: function (data) {
                            if (data.data == "success") {
                                dataTable.ajax.reload();
                                toastr.success('Successfully updated', 'Success', toast_options);
                            } else {
                                toastr.danger('Data not update', 'Invalid', toast_options);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error("Error updating status: ", error);
                        }
                    });
                });
            },
        })
        $('div.head-label').html('<h5 class="card-title mb-0">Fare Matrix</h5>');
        dataTable.on('processing.dt', function(e, settings, processing) {
            if (!processing) {
                $('#loading-screen').hide();
            }
          });
        dataTable.on('xhr.dt', function() {
            $('#loading-screen').hide();
        });
        const newRecord = document.querySelector('.create-new');
        if (newRecord) {
            newRecord.addEventListener('click', function () {
                ItemID.val(0);
            
                $('.title-name').text('Add Record');
                clear_data();
                load_select(0,0,0);
                $('.form-control').val('');
                offCanvasEl.show();
            });
        }

        // Form validation for Add new record
        const fv = FormValidation.formValidation(ItemFormValidation, {
            fields: {
                ProvinceName_: {
                    validators: {
                        notEmpty: {
                            message: 'Required!',
                        },
                    },
                },
                MunicipalityName: {
                    validators: {
                        notEmpty: {
                            message: 'Required!',
                        },
                    },
                },
                BarangayName: {
                    validators: {
                        notEmpty: {
                            message: 'Required!',
                        },
                    },
                },
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                bootstrap5: new FormValidation.plugins.Bootstrap5(),
                submitButton: new FormValidation.plugins.SubmitButton(),
                autoFocus: new FormValidation.plugins.AutoFocus(),
            },
            init: (instance) => {
                instance.on('plugins.message.placed', function (e) {
                    if (e.element.parentElement.classList.contains('input-group')) {
                        e.element.parentElement.insertAdjacentElement('afterend', e.messageElement)
                    }
                })
            },
        }).on('core.form.valid', function () {
            var form_data = $('#item-form').serialize()
            let post_url = ItemID.val() != '0' ? "{% url 'fare-matrix-update' %}" : "{% url 'fare-matrix-add' %}" 
            $.ajax({
                type: 'POST',
                url: post_url,
                data: form_data,
            }).done(function (data) {
                dataTable.ajax.reload();
                if (data.data == 'success' && ItemID.val()==0) {
                    toastr.success('Successfully save', 'Success', toast_options);
                    clear_data();
                }
                else if (data.data == 'success' && ItemID.val()!=0){
                    toastr.success('Successfully save', 'Success', toast_options);
                    clear_data();
                    offCanvasEl.hide()

                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error saving!',
                        text: data.message,
                        customClass: {
                            confirmButton: 'btn btn-success',
                        },
                    })
                }
            })
        });

        function clear_data(){
            ProvinceName.val('').trigger('change');
            ProvinceAcronym.val('');
            MunicipalityName.val('').trigger('change');
            BarangayName.val('').trigger('change');
            PurokName.val('');
            MeansOfTransportation.val('').trigger('change');
            RateRegularFare.val('');
            HireRateOneWay.val('');
            HireRateWholeDay.val('');
            EstimatedDurationOfTravel.val('');
            Justification.val('');
            DtRemarks.val('');
        }
        function load_select(value, prov_code, city_code){
            let storedData = localStorage.getItem('psgc_data');
            let psgcData = JSON.parse(storedData);
            setTimeout(function() {
                if (ProvinceName.length) {
                    ProvinceName.wrap('<div class="position-relative"></div>')
                    ProvinceName.select2({
                        placeholder: 'Choose Province',
                        dropdownParent: ProvinceName.parent(),
                        allowClear: true,
                    })
                }
                if (MunicipalityName.length) {
                    MunicipalityName.wrap('<div class="position-relative"></div>')
                    MunicipalityName.select2({
                        placeholder: 'Choose Municipality',
                        dropdownParent: MunicipalityName.parent(),
                        allowClear: true,
                    })
                }
                if (BarangayName.length) {
                    BarangayName.wrap('<div class="position-relative"></div>')
                    BarangayName.select2({
                        placeholder: 'Choose Barangay',
                        dropdownParent: BarangayName.parent(),
                        allowClear: true,
                    })
                }
                if (MeansOfTransportation.length) {
                    MeansOfTransportation.wrap('<div class="position-relative"></div>')
                    MeansOfTransportation.select2({
                        placeholder: 'Means of Transportation',
                        dropdownParent: MeansOfTransportation.parent(),
                        allowClear: true,
                    })
                }
            }, 100);

            $('#province-name_').on('change', function () {
                var prov_id = $(this).val(); 
                var prov_name = $(this).find('option:selected').text();
                var prov_name2 = $(this).find('option:selected').text();
                
                if (prov_name === "DINAGAT ISLANDS") {
                    var abbreviation = "PDI";
                } else {
                    var abbreviation = prov_name.split(' ').map(function(word) {
                        return word.charAt(0); 
                    }).join(''); 
                }
                ProvinceName2.val(prov_name);
                ProvinceAcronym.val(abbreviation);
                ProvinceAcronym2.val(abbreviation);
                ProvinceCode.val(prov_id);
                if(prov_id){
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'get-lib-mun' %}",
                        data: {
                            prov_id: prov_id
                        },
                        success: function (data) {
                            if (data.message === 'success') {
                                let selectElement = $('select[name="MunicipalityName"]');
                                selectElement.empty();
                                data.data.forEach(function (municipality) {
                                    selectElement.append(
                                        `<option value="${municipality.fields.psgc_mun}">${municipality.fields.mun_name}</option>`
                                    );
                                });
                                MunicipalityName.val('').trigger('change');
                                BarangayName.val('').trigger('change');
    
                                // toastr.success('Successfully retrieved municipalities', 'Success', toast_options);
                            } else {
                                toastr.error('Failed to retrieve municipalities', 'Error', toast_options);
                            }
                        },
                    });
                }

            });

            $('#municipality-name').on('change', function () {
                var mun_id = $(this).val();
                var mun_name = $(this).find('option:selected').text();
                MunicipalityCode.val(mun_id);
                MunicipalityName2.val(mun_name);
                if(mun_id){
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'get-lib-brgy' %}",
                        data: {
                            mun_id: mun_id
                        },
                        success: function (data) {
                            if (data.message === 'success') {
                                let selectElement = $('select[name="BarangayName"]');
                                selectElement.empty(); 
                                data.data.forEach(function (barangay) {
                                    selectElement.append(
                                        `<option value="${barangay.fields.psgc_brgy}">${barangay.fields.brgy_name}</option>`
                                    );
                                });
                                BarangayName.val('').trigger('change');
                            } else {
                                toastr.error('Failed to retrieve municipalities', 'Error', toast_options);
                            }
                        }
                    });
                }

            });
            $('#barangay-name').on('change', function () {
                var barangay_id = $(this).val();
                var barangay_name = $(this).find('option:selected').text();
                BarangayName2.val(barangay_name);
                BarangayCode.val(barangay_id);
            });



        }
    
        $('#approved').click(function() {
            let final_amount = $("#final_amount").val().trim();
            let correctness_remarks = $("#correctness_remarks").val().trim();
            let status = 1; 
              if (final_amount === "") {  
                $("#amount_error").text("Please enter Amount");
                $("#remarks_error").text("");
                $(".input-group").addClass("has-error");
                event.preventDefault();
              } else {
                $("#amount_error").text("");
                $("#remarks_error").text("");
                $(".input-group").removeClass("has-error");
                tev_details(final_amount,correctness_remarks,status,clicked_id);
              }
          });
          
          $('#returned').click(function() {
            let final_amount = $("#final_amount").val().trim();
            let correctness_remarks = $("#correctness_remarks").val().trim();
            let status = 2;
              if (correctness_remarks === "") {
                $("#amount_error").text("");
                $("#remarks_error").text("Please enter Remarks for returned.");
                $(".input-group").addClass("has-error");
                event.preventDefault();
              } else {
                $("#remarks_error").text("");
                $(".input-group").removeClass("has-error");
                tev_details(final_amount,correctness_remarks,status,clicked_id);
              }
              
            });

          function tev_details(amount,remarks,status,emp_id){
            $.ajax({
                type: "POST",
                data:{
                    final_amount: amount,
                    correctness_remarks: remarks,
                    status : status,
                    transaction_id : emp_id
                }
                }).done(function(data){
                if (data.data == 'success') {
                    toastr.success('Successfully save', 'Success', toast_options);
                    offCanvasEl.hide()
                } else {
                    toastr.error('Data not saved', 'Danger', toast_options);
                }
            });
        }
    })
</script>
<script src="{% static 'assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js' %}"></script>

{% endblock footer_scripts %}
