{% extends 'index.html' %} {% block content %} {% load staticfiles %}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin / </span>Form Controls</h4>

    <div class="row">
        <!-- Basic Custom Radios -->
        <div class="col-xl-6 mb-4">
            <div class="card">
                <h5 class="card-header">Received Document / Received / Date Receive</h5>
                <div class="card-body">
                <div class="row">
                    <div class="col-md mb-md-0 mb-2">
                    <div class="form-check custom-option custom-option-basic">
                        <label class="form-check-label custom-option-content" for="date_receive_en">
                        {% if is_actual_date %}
                            <input
                                name="customRadioTemp"
                                class="form-check-input"
                                type="radio"
                                value=""
                                id="date_receive_en"
                                checked
                            />
                        {% else %}
                            <input
                                name="customRadioTemp"
                                class="form-check-input"
                                type="radio"
                                value=""
                                id="date_receive_en"
                            />
                        {% endif %}
                        <span class="custom-option-header">
                            <span class="h6 mb-0">Enable</span>
                            <!-- <span class="text-muted">Free</span> -->
                        </span>
                        <span class="custom-option-body">
                            <small>Date Actual Receive</small>
                        </span>
                        </label>
                    </div>
                    </div>
                    <div class="col-md">
                    <div class="form-check custom-option custom-option-basic">
                        <label class="form-check-label custom-option-content" for="date_receive_ds">
                        {% if is_actual_date %}
                        <input
                            name="customRadioTemp"
                            class="form-check-input"
                            type="radio"
                            value=""
                            id="date_receive_ds"
                        />
                        {% else %}
                        <input
                            name="customRadioTemp"
                            class="form-check-input"
                            type="radio"
                            value=""
                            id="date_receive_ds"
                            checked
                        />
                        {% endif %}
                        <span class="custom-option-header">
                            <span class="h6 mb-0">Disable</span>
                            <!-- <span class="text-muted">$ 5.00</span> -->
                        </span>
                        <span class="custom-option-body">
                            <small>Date Actual Receive</small>
                        </span>
                        </label>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 mb-4">
            <div class="card">
                <h5 class="card-header">Received Document / Received :  Date Restriction </h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md mb-md-0 mb-2">
                            <input
                            type="number"
                            id="days_expire"
                            name="DaysExpire"
                            class="form-control phone-number-mask"
                            placeholder="Days"
                            value="{{ days_expire }}"
                        />
                  
                        </div>
                        <div class="col-md">
                            <button type="submit" id="update_days" class="btn btn-primary me-sm-3 me-1">Save</button>
                        </div>
                    </div>
                    <br>
                <div class="row">
                    <div class="col-md mb-md-0 mb-2">
                    <div class="form-check custom-option custom-option-basic">
                        
                        <label class="form-check-label custom-option-content" for="expiry_date_en">
                            {% if is_travel_expire %}
                                <input
                                    name="customRadioTemp1"
                                    class="form-check-input"
                                    type="radio"
                                    value=""
                                    id="expiry_date_en"
                                    checked
                                />

                            {% else %}
                                <input
                                    name="customRadioTemp1"
                                    class="form-check-input"
                                    type="radio"
                                    value=""
                                    id="expiry_date_en"
                                />
                            {% endif %}
                        <span class="custom-option-header">
                            <span class="h6 mb-0">Enable</span>
                            <!-- <span class="text-muted">Free</span> -->
                        </span>
                        <span class="custom-option-body">
                            <small>Enable Dates Restriction</small>
                        </span>
                        </label>
                    </div>
                    </div>
                    <div class="col-md">
                    <div class="form-check custom-option custom-option-basic">
                        <label class="form-check-label custom-option-content" for="expiry_date_ds">
                            {% if is_travel_expire %}
                                <input
                                    name="customRadioTemp1"
                                    class="form-check-input"
                                    type="radio"
                                    value=""
                                    id="expiry_date_ds"
                                />
                     
                            {% else %}
                            <input
                                name="customRadioTemp1"
                                class="form-check-input"
                                type="radio"
                                value=""
                                id="expiry_date_ds"
                                checked
                            />
                            {% endif %} 
                        <span class="custom-option-header">
                            <span class="h6 mb-0">Disable</span>
                            <!-- <span class="text-muted">$ 5.00</span> -->
                        </span>
                        <span class="custom-option-body">
                            <small>Disable Dates Restriction</small>
                        </span>
                        </label>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Check selected custom option
        window.Helpers.initCustomOptionCheck();
    </script>
    </div>
    <!-- / Content -->



{% endblock %} {% block footer_scripts %}
<script>
    $(document).ready(function () {
        $('#loading-screen').hide();
        $("#date_receive_en").click(function(){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Enable it!',
                customClass: {
                    confirmButton: 'btn btn-primary me-3',
                    cancelButton: 'btn btn-label-secondary',
                },
                buttonsStyling: false,
                allowOutsideClick: false,
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'date-actual-update' %}",
                        data: {
                            'status': 1
                        },
                    }).done(function (data) {
                        if (data.data == 'success') {
                            Swal.fire({
                                icon: 'success',
                                title: 'Successfully save!',
                                text: 'Date actual has been enabled',
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })
                            dataTable.ajax.reload();
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error saving!',
                                text: data.message,
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })
                        }
                    })
                }
            });
        });

        $("#date_receive_ds").click(function(){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Disable it!',
                customClass: {
                    confirmButton: 'btn btn-primary me-3',
                    cancelButton: 'btn btn-label-secondary',
                },
                buttonsStyling: false,
                allowOutsideClick: false,
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'date-actual-update' %}",
                        data: {
                            'status': 0
                        },
                    }).done(function (data) {
                        if (data.data == 'success') {
                            Swal.fire({
                                icon: 'success',
                                title: 'Successfully save!',
                                text: 'Date actual has been disabled',
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })
                            dataTable.ajax.reload();
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error saving!',
                                text: data.message,
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })
                        }
                    })
                }
            });
        });

        $("#expiry_date_en").click(function(){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Enable it!',
                customClass: {
                    confirmButton: 'btn btn-primary me-3',
                    cancelButton: 'btn btn-label-secondary',
                },
                buttonsStyling: false,
                allowOutsideClick: false,
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'expiry-date-update' %}",
                        data: {
                            'status': 1
                        },
                    }).done(function (data) {
                        if (data.data == 'success') {
                            Swal.fire({
                                icon: 'success',
                                title: 'Successfully save!',
                                text: 'Date actual has been enabled',
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })
                            dataTable.ajax.reload();
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error saving!',
                                text: data.message,
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })
                        }
                    })
                }
            });
        });
        $("#expiry_date_ds").click(function(){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",  
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Disable it!',
                customClass: {
                    confirmButton: 'btn btn-primary me-3',
                    cancelButton: 'btn btn-label-secondary',
                },
                buttonsStyling: false,
                allowOutsideClick: false,
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'expiry-date-update' %}",
                        data: {
                            'status': 0
                        },
                    }).done(function (data) {
                        if (data.data == 'success') {
                            Swal.fire({
                                icon: 'success',
                                title: 'Successfully save!',
                                text: 'Date actual has been disabled',
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })
                            dataTable.ajax.reload();
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error saving!',
                                text: data.message,
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })
                        }
                    })
                }
            });
        });

        $("#update_days").click(function(){
            let daysExpireValue = $('#days_expire').val();
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Update it!',
                customClass: {
                    confirmButton: 'btn btn-primary me-3',
                    cancelButton: 'btn btn-label-secondary',
                },
                buttonsStyling: false,
                allowOutsideClick: false,
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'update-days' %}",
                        data: {
                            'days': daysExpireValue
                        },
                    }).done(function (data) {
                        if (data.data == 'success') {
                            Swal.fire({
                                icon: 'success',
                                title: 'Successfully save!',
                                text: 'Days has been updated',
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })
                            dataTable.ajax.reload();
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error saving!',
                                text: data.message,
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })
                        }
                    })
                }
            });
        });
   
    })
</script>
{% endblock footer_scripts %}
