{% extends 'index.html' %} {% block content %} {% load staticfiles %}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admin/</span> Logs</h4>

        <!-- DataTable with Buttons -->
        <div class="card">
            <div class="card-datatable table-responsive pt-0">
                <table id="tbl-items" class="table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>User</th>
                            <th>Created at</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

      <!-- Modal to add new record -->
<div class="offcanvas offcanvas-end" id="add-new-record">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel"><p class="title-name">Add Record</p></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <form class="add-new-record pt-0 row g-2" id="item-form">
            <input type="hidden" id="item-id" name="ItemID" />
            <div class="col-sm-12">
                <label class="form-label">Office </label>
                
                <input
                  type="text"
                  id="division"
                  class="form-control dt-lib-division"
                  name="Division"
                  placeholder="Enter Office"
                  aria-describedby="division2"
                />
            </div>

            <div class="col-sm-12">
                <label class="form-label">Acronym</label>
                
                <input
                  type="text"
                  id="acronym"
                  class="form-control dt-lib-acronym"
                  name="Acronym"
                  placeholder="Enter Acronym"
                  aria-describedby="acronym2"
                />
            </div>

            <div class="col-sm-12">
                <label class="form-label">Name </label>
                
                <input
                  type="text"
                  id="chief"
                  class="form-control dt-lib-chief"
                  name="Chief"
                  placeholder="Enter Name"
                  aria-describedby="chief2"
                />
            </div>
            <div class="col-sm-12">
                <label class="form-label">Designation </label>
                
                <input
                  type="text"
                  id="c_approval"
                  class="form-control dt-lib-chief"
                  name="CDesignation"
                  placeholder="Enter Designation"
                  aria-describedby="chief2"
                />
            </div>
            <div class="col-sm-12">
                <label class="form-label">Approval </label>
                
                <input
                  type="text"
                  id="approval"
                  class="form-control dt-lib-chief"
                  name="Approval"
                  placeholder="Enter Approval"
                  aria-describedby="chief2"
                />
            </div>
            <div class="col-sm-12">
                <label class="form-label">Approval Designation </label>
                
                <input
                  type="text"
                  id="ap_designation"
                  class="form-control dt-lib-chief"
                  name="APDesignation"
                  placeholder="Designation"
                  aria-describedby="chief2"
                />
            </div>
            <div class="col-sm-12 mt-4">
                <button name="submitButton" class="btn btn-primary data-submit me-sm-3 me-1 additional-record">Submit</button>
                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
            </div>
        </form>
    </div>
</div>

{% endblock %} {% block footer_scripts %}
<script>
    let clicked_id = 0;
    $(document).ready(function () {
        const table = $('#tbl-items')
        const ItemFormValidation = document.getElementById('item-form'),
            Division = jQuery(document.querySelector('[name="Division"]')),
            Acronym = jQuery(document.querySelector('[name="Acronym"]')),
            DivisionChief = jQuery(document.querySelector('[name="Chief"]')),
            CDesignation = jQuery(document.querySelector('[name="CDesignation"]')),
            Approval = jQuery(document.querySelector('[name="Approval"]')),
            APDesignation = jQuery(document.querySelector('[name="APDesignation"]')),
            Status = jQuery(document.querySelector('[name="Status"]')),
            offCanvasElement = document.querySelector('#add-new-record');
            
        const offCanvasEl = new bootstrap.Offcanvas(offCanvasElement);
        const toast_options = (toastr.options = {
            maxOpened: 1,
            autoDismiss: true,
            closeButton: true,
            newestOnTop: false,
            progressBar: true,
            positionClass: 'toast-top-right',
            rtl: isRtl,
      });
        let ItemID = $('#item-id')

        let dataTable = table.DataTable({
            processing: true,
            serverSide: true,
            ajax: "{% url 'logs-load' %}",
            columns: [
                { data: 'description' },
                { data: 'user' },
                { data: 'created_at' },
            ],
            columnDefs: [
                {
                    targets: 0,
                    render: function (data) {
                        return data
                    },
                },
                {
                    targets: 1,
                    render: function (data) {

                        return `<span class="badge bg-label-primary">${data}</span>`;
                    },
                },
                {
                    targets: 2,
                    render: function (data) {
                        return moment(data).format('LLL')
                    },
                },
              
            ],
            dom: '<"card-header flex-column flex-md-row"<"head-label text-center"><"dt-action-buttons text-end pt-3 pt-md-0"B>><"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"f>>t<"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
            buttons: [],
            drawCallback: function (settings) {
                $('.item-edit').on('click', function () {
                    let id = $(this).data('id');
                    
                    $('.title-name').text('Update Division Record');
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'division-edit' %}?id=" + id,
                        dataType: 'json',
                    }).done(function (data) {
                        if (data.length > 0) {
                            let fields = data[0].fields
                            let pk = data[0].pk
                            let division = $('#division')
                            Division.val(fields.name);
                            Acronym.val(fields.acronym);
                            DivisionChief.val(fields.chief);
                            CDesignation.val(fields.c_designation);
                            Approval.val(fields.approval);
                            APDesignation.val(fields.ap_designation);
                            ItemID.val(pk)
                            offCanvasEl.show()
                        }
                    })
                }),
                $('.item-details').on('click', function () {
                    clicked_id = $(this).data('id')
                })


            },
        })
        $('div.head-label').html('<h5 class="card-title mb-0">Transaction Logs</h5>');
        dataTable.on('processing.dt', function(e, settings, processing) {
            if (!processing) {
                $('#loading-screen').hide();
            }
          });
        dataTable.on('xhr.dt', function() {
            $('#loading-screen').hide();
        });
    })
</script>
{% endblock footer_scripts %}
