{% extends 'index.html' %} {% block content %} {% load staticfiles %}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-fluid flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Received /</span> Tracking</h4>

        <!-- DataTable with Buttons -->
        <div class="card">
            <div class="card-datatable table-responsive pt-0">
                <table id="tbl-items" class="table">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Dv No</th>
                            <th>Employee Name</th>
                            <th>Date Travel</th>
                            <th>Amt. Certified</th>
                            <th>Received</th>
                            <th>Reviewed</th>
                            <th>Payroll</th>
                            <th>Obligate</th>
                            <th>Journal</th>
                            <th>Certified</th>
                            <th>Check Issued</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--  modal history-->
<div class="modal fade" id="tracking-history" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" style="min-width: 90%; min-height: 70%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel4">Transaction History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-header">
              <h5 class="modal-title"><span class="badge bg-label-warning" id="employee-id-no"></span>&nbsp;&nbsp;&nbsp;<span class="badge bg-label-primary" id="employee-full-name"></span></h5>
            </div>
            <div class="modal-body">

                <!-- Modern Vertical Wizard -->
                <div class="col-12">
                  <div class="bs-stepper vertical wizard-modern wizard-modern-vertical mt-2">
                    <!-- <label class="form-label" for="modalAddCard"><b>Update Transaction</b></label> -->
                    <div class="bs-stepper-content">
                       <div class="card-datatable table-responsive pt-0">
                    <table id="tbl-history" class="table display compact">
                        <thead>
                            <tr>
                                <th>Code #</th>
                                <th>Accnt. No.</th>
                                <th>Original Amount</th>
                                <th>Amt. Certified</th>
                                <th>Status</th>
                                <th>Purpose</th>
                                <th>Remarks</th>
                                <th>Incoming date</th>
                            </tr>
                        </thead>    
                        <tbody>
                        </tbody>               
                    </table>
                    </div>
                      <form onSubmit="return false">
                        <!-- Account Details -->
                        <div id="account-details-modern-vertical" class="content">
                          <div class="content-header mb-3">
                            <h6 class="mb-0">Account Details</h6>
                            <small>Enter Your Account Details.</small>
                          </div>
                          <div class="row g-3">
                            <div class="col-sm-6">
                              <label class="form-label" for="username-modern-vertical">Username</label>
                              <input
                                type="text"
                                id="username-modern-vertical"
                                class="form-control"
                                placeholder="johndoe"
                              />
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label" for="email-modern-vertical">Email</label>
                              <input
                                type="email"
                                id="email-modern-vertical"
                                class="form-control"
                                placeholder="john.doe@email.com"
                                aria-label="john.doe"
                              />
                            </div>
                            <div class="col-sm-6 form-password-toggle">
                              <label class="form-label" for="password-modern-vertical">Password</label>
                              <div class="input-group input-group-merge">
                                <input
                                  type="password"
                                  id="password-modern-vertical"
                                  class="form-control"
                                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                  aria-describedby="password2-modern-vertical"
                                />
                                <span class="input-group-text cursor-pointer" id="password2-modern-vertical"
                                  ><i class="ti ti-eye-off"></i
                                ></span>
                              </div>
                            </div>
                            <div class="col-sm-6 form-password-toggle">
                              <label class="form-label" for="confirm-password-modern-vertical">Confirm Password</label>
                              <div class="input-group input-group-merge">
                                <input
                                  type="password"
                                  id="confirm-password-modern-vertical"
                                  class="form-control"
                                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                  aria-describedby="confirm-password-modern-vertical2"
                                />
                                <span class="input-group-text cursor-pointer" id="confirm-password-modern-vertical2"
                                  ><i class="ti ti-eye-off"></i
                                ></span>
                              </div>
                            </div>
                            <div class="col-12 d-flex justify-content-between">
                              <button class="btn btn-label-secondary btn-prev" disabled>
                                <i class="ti ti-arrow-left me-sm-1 me-0"></i>
                                <span class="align-middle d-sm-inline-block d-none">Previous</span>
                              </button>
                              <button class="btn btn-primary btn-next">
                                <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span>
                                <i class="ti ti-arrow-right"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <!-- Personal Info -->
                        <div id="personal-info-modern-vertical" class="content">
                          <div class="content-header mb-3">
                            <h6 class="mb-0">Personal Info</h6>
                            <small>Enter Your Personal Info.</small>
                          </div>
                          <div class="row g-3">
                            <div class="col-sm-6">
                              <label class="form-label" for="first-name-modern-vertical">First Name</label>
                              <input
                                type="text"
                                id="first-name-modern-vertical"
                                class="form-control"
                                placeholder="John"
                              />
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label" for="last-name-modern-vertical">Last Name</label>
                              <input
                                type="text"
                                id="last-name-modern-vertical"
                                class="form-control"
                                placeholder="Doe"
                              />
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label" for="country-modern-vertical">Country</label>
                              <select class="select2" id="country-modern-vertical">
                                <option label=" "></option>
                                <option>UK</option>
                                <option>USA</option>
                                <option>Spain</option>
                                <option>France</option>
                                <option>Italy</option>
                                <option>Australia</option>
                              </select>
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label" for="language-modern-vertical">Language</label>
                              <select
                                class="selectpicker w-auto"
                                id="language-modern-vertical"
                                data-style="btn-transparent"
                                data-icon-base="ti"
                                data-tick-icon="ti-check text-white"
                                multiple
                              >
                                <option>English</option>
                                <option>French</option>
                                <option>Spanish</option>
                              </select>
                            </div>
                            <div class="col-12 d-flex justify-content-between">
                              <button class="btn btn-label-secondary btn-prev">
                                <i class="ti ti-arrow-left me-sm-1 me-0"></i>
                                <span class="align-middle d-sm-inline-block d-none">Previous</span>
                              </button>
                              <button class="btn btn-primary btn-next">
                                <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span>
                                <i class="ti ti-arrow-right"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <!-- Social Links -->
                        <div id="social-links-modern-vertical" class="content">
                          <div class="content-header mb-3">
                            <h6 class="mb-0">Social Links</h6>
                            <small>Enter Your Social Links.</small>
                          </div>
                          <div class="row g-3">
                            <div class="col-sm-6">
                              <label class="form-label" for="twitter-modern-vertical">Twitter</label>
                              <input
                                type="text"
                                id="twitter-modern-vertical"
                                class="form-control"
                                placeholder="https://twitter.com/abc"
                              />
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label" for="facebook-modern-vertical">Facebook</label>
                              <input
                                type="text"
                                id="facebook-modern-vertical"
                                class="form-control"
                                placeholder="https://facebook.com/abc"
                              />
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label" for="google-modern-vertical">Google+</label>
                              <input
                                type="text"
                                id="google-modern-vertical"
                                class="form-control"
                                placeholder="https://plus.google.com/abc"
                              />
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label" for="linkedin-modern-vertical">LinkedIn</label>
                              <input
                                type="text"
                                id="linkedin-modern-vertical"
                                class="form-control"
                                placeholder="https://linkedin.com/abc"
                              />
                            </div>
                            <div class="col-12 d-flex justify-content-between">
                              <button class="btn btn-label-secondary btn-prev">
                                <i class="ti ti-arrow-left me-sm-1 me-0"></i>
                                <span class="align-middle d-sm-inline-block d-none">Previous</span>
                              </button>
                              <button class="btn btn-success btn-submit">Submit</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- /Modern Vertical Wizard -->
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Edit User Modal -->
<div class="modal fade" id="advance-filter" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-simple modal-edit-user">
      <div class="modal-content p-3 p-md-5">
      <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="text-center mb-4">
          <h3 class="mb-2">Advanced Filter </h3>
          <p class="text-muted">Filter data by filling the details below</p>
          </div>
          <form id="advanced-filter-list" class="row g-3" onsubmit="return false">
              <div class="col-12 col-md-12">
                  <label class="form-label" for="modalFEmployeeName">Employee Name</label>
                      <select id="f-employee-name" class="select2 form-select" name="FEmployeeName" multiple>
                          <option></option>
                      </select>
              </div>
              <div class="col-12 col-md-6">
                  <label class="form-label" for="modalEditUserFirstName">ID Number</label>
                  <input
                  type="text"
                  id="f-id-number"
                  name="FIdNumber"
                  class="form-control"
                  placeholder="16-0000"
                  />
              </div>
              <div class="col-12 col-md-6">
                  <label class="form-label" for="modalEditUserLastName">Transaction Code</label>
                  <input
                  type="text"
                  id="f-transaction-code"
                  name="FTransactionCode"
                  class="form-control"
                  placeholder="23-00-00000"
                  />
              </div>
  
              <div class="col-12 col-md-6">
                  <label class="form-label" for="modalEditTaxID">Date Travel</label>
                  <input type="text" class="form-control" name="FDateTravel" placeholder="DD-MM-YYYY" id="dateField" autocomplete="off"/>
              </div>
  
              <div class="col-12 col-md-6">
                  <label class="form-label">DV Number</label>
                  <div class="input-group">
                  <input
                      type="number"
                      id="dv-number"
                      name="NDVNumber"
                      class="form-control phone-number-mask"
                      placeholder="23-00-0000"
                  />
                  </div>
              </div>
  
  
                  <input
                  type="hidden"
                  id="f-first-name"
                  name="FFirstName"
                  class="form-control"
                  placeholder="Firstname"
                  />
  
                  <input
                  type="hidden"
                  id="f-middle-name"
                  name="FMiddleName"
                  class="form-control"
                  placeholder="Middle"
                  />
  
                  <input
                  type="hidden"
                  id="f-last-name"
                  name="FLastName"
                  class="form-control"
                  placeholder="Lastname"
                  />
  
                  <input
                  type="hidden"
                  id="f-adv-filter"
                  name="FAdvancedFilter"
                  class="form-control"
                  placeholder="AdvFilter"
                  />
          
  
  
              <div class="col-12 text-center">
                  <button type="button" id="search-advance-filter" class="btn btn-primary me-sm-3 me-1">Search</button>
                  <button type="button" id="reset-advance-filter" class="btn btn-warning me-sm-3 me-1">Reset</button>
                  <button type="button" id="clear-advance-filter" class="btn btn-label-secondary">Clear</button>
              
              </div>
          </form>
      </div>
      </div>
  </div>
  </div>
  <!--/ Edit User Modal -->


      
<!-- Modal to add new record -->
<div class="offcanvas offcanvas-end" id="add-new-record">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel"><p class="title-name">Add Record</p></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <form class="add-new-record pt-0 row g-2" id="item-form">
            <input type="hidden" id="item-id" name="ItemID" />
            <div class="col-sm-12">
                <label class="form-label" for="employee-name">Employee Name</label>
                <select id="employee-name" name="EmployeeName" class="form-select employee" data-allow-clear="true">
                    <option></option>
                    <option>Reymark N. Valdehueza</option>
                    <option>Saton Goru</option>
                    <option>Monkey D luffy</option>
                </select>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label" for="original-amount">Amount</label>
                    <input id="original-amount" name="OriginalAmount" class="form-control amount"type="number"placeholder="0.00"/>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label" for="remarks">Remarks</label>
                    <div class="input-group input-group-merge">
                        <textarea class="form-control dt-sales-remarks" placeholder="Enter remarks (optional)" rows="6" id="remarks" name="Remarks"></textarea>
                        <span class="input-group-text">
                          <i class="ti ti-microphone cursor-pointer text-to-speech-toggle"></i>
                        </span>
                       
                      </div>
                </div>
            </div>
            
            <div class="col-sm-12 mt-4">
                <button name="submitButton" class="btn btn-primary data-submit me-sm-3 me-1 additional-record">Submit</button>
                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
            </div>
        </form>
    </div>
</div>

{% endblock %} {% block footer_scripts %}
<script>
    let clicked_id = 0;
    let status_val =0;
    let dv_no_id =0;
    let employeeList = [];
    $(document).ready(function () {
      var dateField = $('#dateField').flatpickr({
            mode: 'multiple',
            allowInput: true,
            dateFormat: 'd-m-Y',
            locale: {
                'firstDayOfWeek': 1 // start week on Monday
            },
      });
        const table = $('#tbl-items')
        const ItemFormValidation = document.getElementById('item-form'),
            EmployeeName = jQuery(document.querySelector('[name="EmployeeName"]')),
            OriginalAmount = jQuery(document.querySelector('[name="OriginalAmount"]')),
            Remarks = jQuery(document.querySelector('[name="Remarks"]')),
            FEmployeeName = jQuery(document.querySelector('[name="FEmployeeName"]')),
            FAdvancedFilter= jQuery(document.querySelector('[name="FAdvancedFilter"]')),
            FDateTravel= jQuery(document.querySelector('[name="FDateTravel"]')),
            FIdNumber = jQuery(document.querySelector('[name="FIdNumber"]')),
            NDVNumber = jQuery(document.querySelector('[name="NDVNumber"]')),
            FTransactionCode = jQuery(document.querySelector('[name="FTransactionCode"]')),
            search_advance_filter = $('#search-advance-filter'),
            reset_advance_filter = $('#reset-advance-filter'),
            clear_advance_filter = $('#clear-advance-filter'),
            offCanvasElement = document.querySelector('#add-new-record')
        const offCanvasEl = new bootstrap.Offcanvas(offCanvasElement)
        const toast_options = (toastr.options = {
            maxOpened: 1,
            autoDismiss: true,
            closeButton: true,
            newestOnTop: true,
            progressBar: true,
            positionClass: 'toast-top-right',
            rtl: isRtl,
      });
        let ItemID = $('#item-id')

        let dataTable = table.DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "{% url 'tracking-load' %}",
                data: function (d) {
                    d.FAdvancedFilter = FAdvancedFilter.val()
                    d.FIdNumber = FIdNumber.val()
                    d.FTransactionCode = FTransactionCode.val()
                    d.NDVNumber = NDVNumber.val()
                    d.FDateTravel = FDateTravel.val()
                    d.EmployeeList = employeeList
                },
            },
            columns: [
                { data: 'code' },
                { data: 'dv_no' },
                { data: 'full_name' },
                { data: 'date_travel'},
                { data: 'final_amount'},
                { data: 'status'},
                { data: 'status' },
                { data: 'status' },
                { data: 'amt_budget' },
                { data: 'amt_journal' },
                { data: 'approved_date' },
                { data: 'amt_check' },
                { data: 'id' },

            ],
            columnDefs: [
            {
                targets: 0,
                render: function (data) {
                    return '<span class="badge bg-label-primary">' + data + '</span>'
                },
            },
            {
                targets: 1,
                render: function (data) {
                    if (data){
                        return '<span class="badge bg-label-primary">' + data + '</span>'
                    }
                    else{
                        return ''
                    }
                    
                },
            },
            {
                targets: 3,
                render: function(data) {
                    var splitValues = data.split(',');  // Split data by comma
                    var result = '';
                    
                    splitValues.forEach(function(value, index) {
                        if (index !== 0) {
                            result += '  '; // Add a space before adding subsequent values
                        }
                        var dateParts = value.split('-');
                        var monthNames = ["Jan.", "Feb.", "Mar.", "Apr.", "May", "Jun.", "Jul.", "Aug.", "Sep.", "Oct.", "Nov.", "Dec."];
                        var formattedDate = monthNames[parseInt(dateParts[1], 10) - 1] + ' ' + parseInt(dateParts[0], 10) + ', ' + dateParts[2];
                        
                        result += '<span class="badge bg-label-primary">' + formattedDate + '</span>';
                    });
                    
                    return result;
                },
            },
            {
                targets: 4,
                render: function(data) {
                    var floatValue = parseFloat(data);
                    if (floatValue !== 0) {
                        var formattedValue = floatValue.toLocaleString('en-US', {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2
                        });
                        return '<span class="badge bg-label-primary">₱ ' +formattedValue+'</span>';
                    } else {
                        return "";
                    }
                },
            },            
            {
                targets: 5,
                render: function (data) {
                    data = parseInt(data); 

                    let tooltip = 'Done';
                    if (data == 1) {
                        tooltip = "Pending";
                    }
                    return '<span class="badge badge-center rounded-pill bg-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="' + tooltip +'"><i class="ti ti-check"></i></span>';
                },
            },
            {
                targets: 6,
                render: function (data) {
                    data = parseInt(data); 
                    let tooltip = '';
                    let status = '';
                    if(data==3){
                      tooltip = 'Returned';
                      status = 'bg-danger';

                      return '<span class="badge badge-center rounded-pill bg-danger" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="' + tooltip +'"><i class="ti ti-x"></i></span>'
                    }
                    if(data==2){
                      tooltip = 'For Checking';
                      return '<span class="badge badge-center rounded-pill bg-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="' + tooltip +'"><i class="ti ti-check"></i></span>'
                    }
                    if(data==7){
                      tooltip = 'Approved';
                      return '<span class="badge badge-center rounded-pill bg-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="' + tooltip +'"><i class="ti ti-check"></i></span>'
                    }
                    else if (data > 3){
                      tooltip = 'Done';
                        return '<span class="badge badge-center rounded-pill bg-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="tooltip-success" title="' + tooltip +'"><i class="ti ti-check"></i></span>'
                    }
                    else{
                        return ''
                    }
                    
                },
            },
            {
              targets: 7,
              render: function (data) {
                  data = parseInt(data); 
                  if (data>=5 && data!=7){
                      return '<span class="badge badge-center rounded-pill bg-success"><i class="ti ti-check"></i></span>'
                  }
                  else{
                      return ''
                      
                  }

              },
          },

            {
                targets: 8,
                render: function (data) {
                    data = parseInt(data); 

                    if (data){
                        return '<span class="badge badge-center rounded-pill bg-success"><i class="ti ti-check"></i></span>'
                    }
                    else{
                        return ''
                    }
                },
            },

            {
                targets: 9,
                render: function (data) {
                    data = parseInt(data); 

                    if (data){
                        return '<span class="badge badge-center rounded-pill bg-success"><i class="ti ti-check"></i></span>'
                    }
                    else{
                        return ''
                    }

                },
            },
            {
                targets: 10,
                render: function (data) {

                  if (data){
                      return '<span class="badge badge-center rounded-pill bg-success"><i class="ti ti-check"></i></span>'
                  }
                  else{
                      return ''
                  }
                },
            },
            {
                targets: 11,
                render: function (data) {
                  data = parseInt(data); 
                  
                  if (data){
                      return '<span class="badge badge-center rounded-pill bg-success"><i class="ti ti-check"></i></span>'
                  }
                  else{
                      return ''
                  }

                },
            },
            {
                targets: -1,
                title: 'Action',
                orderable: false,
                searchable: false,
                render: function (data) {
                    return (
                        '<a href="javascript:;" data-id="' + data + '" id="'+data+'" class="item-edit text-body view-data"><i class="text-primary ti ti-eye"></i></a>'
                    )
                },
            },
            
            ],
            dom: '<"card-header flex-column flex-md-row"<"head-label text-center"><"dt-action-buttons text-end pt-3 pt-md-0"B>><"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"f>>t<"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
            buttons: [
                {
                    className: 'btn btn-label-primary me-2',
                    text: '<i class="ti ti-file-search me-sm-1"></i> <span class="d-none d-sm-inline-block">Advance Filter</span>',
                    action: function () {
                        employeeList = [];
                        const $selectElement = $('#f-employee-name');
                        $selectElement.empty();
                        fetchEmployee($selectElement);
                        FEmployeeName.val('').trigger('change');

                        setTimeout(function() {
                            if (FEmployeeName.length) {
                                FEmployeeName.wrap('<div class="position-relative"></div>')
                                FEmployeeName.select2({
                                    placeholder: 'Choose employee',
                                    dropdownParent: FEmployeeName.parent(),
                                    allowClear: true,
                                })
                            }
                        }, 300);
                        $("#advance-filter").modal("show");
                    }
                  },


            ],
            drawCallback: function (settings) { 
                $('.view-data').on('click', function () {
                    let id = $(this).attr('id');
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'employee-details' %}",
                        data:{
                            dv_id: id
                        }
                    }).done(function (data) {
                        const tableId = 'tbl-history';
                        const tbody = $(`#${tableId} tbody`);

                        let fullname = data.full_name;
                        let id_number = data.id_number;
                        tbody.empty();
                        data.data.forEach(function (item) {
                          let data_date = item.incoming_in;
                          let inputDate = new Date(item.incoming_in);
                          const months = [
                            "January", "February", "March", "April", "May", "June", "July",
                            "August", "September", "October", "November", "December"
                          ];

                          function padZero(number) {
                            return number < 10 ? "0" + number : number;
                          }
                          let month = months[inputDate.getMonth()];
                          let day = inputDate.getDate();
                          let year = inputDate.getFullYear();
                          let hours = inputDate.getHours() % 12 || 12;
                          let minutes = padZero(inputDate.getMinutes());
                          let ampm = inputDate.getHours() >= 12 ? "PM" : "AM";
                          let formattedDate = `${month} ${day}, ${year} ${hours}:${minutes} ${ampm}`;

                          const formattedOriginalAmount = parseFloat(item.original_amount).toFixed(2);
                          const formattedFinalAmount = parseFloat(item.final_amount).toFixed(2);
                          let orgAmountColumn = '';
                          let finalAmountColumn = '';
                          let editColumn = '';
                          let statusColumn = '';
                          let status = item.status;
                          let remarks = '';
                          if (item.remarks) {remarks = item.remarks;} 
                          else {remarks = remarks = '';}
                          if (status ==1){
                            statusColumn = `<td><span class="badge bg-label-warning">Pending</span></td>`;
                          }
                          else if (status ==2){
                            statusColumn = `<td><span class="badge bg-label-warning">For Checking</span></td>`;
                          }
                          else if (status ==3){
                            statusColumn = `<td><span class="badge bg-label-danger">Returned</span></td>`;
                          }
                          else if (status ==7){
                            statusColumn = `<td><span class="badge bg-label-success">Approved</span></td>`;
                          }
                          else if (status ==4){
                            statusColumn = `<td><span class="badge bg-label-primary">Payroll</span></td>`;
                          }
                          else if (status ==5){
                            statusColumn = `<td><span class="badge bg-label-warning">Outgoing</span></td>`;
                          }
                          else if (status ==6){
                            statusColumn = `<td><span class="badge bg-label-success">Ongoing</span></td>`;
                          }
                          else {
                            statusColumn = `<td><span class="badge bg-label-primary">${item.status}</span></td>`;
                          }
                          orgAmountColumn = `<td>${formattedOriginalAmount}</td>`;
                          finalAmountColumn = `<td>${formattedFinalAmount}</td>`;

                          editColumn = `<a class="btn btn-sm btn-icon item-edit" id="${item.id}"><i class="text-primary ti ti-edit"></i></a>`;
                      
            
                          const row = `
                              <tr>
                                  <td><span class="badge bg-label-primary">${item.code}</span></td>
                                  <td><span class="badge bg-label-warning">${item.account_no}</span></td>
                                  ${orgAmountColumn}
                                  ${finalAmountColumn}
                                  ${statusColumn}
                                  <td>${item.purpose}</td>
                                  <td><span class="badge bg-label-danger">${remarks}</span></td>
                                  <td><span class="badge bg-label-primary">${formattedDate}</span></td>
                       
                              </tr>
                          `;
                          tbody.append(row);
                      
                        })
                        $('#employee-id-no').text(id_number);
                        $('#employee-full-name').text(fullname);
                        $('#tracking-history').modal('show');
                    })
                    
                });
            }
        })
        $('div.head-label').html('<h5 class="card-title mb-0">List</h5>');
        $('.view-data').on('click', function () {
            let id = $(this).attr('id');
            dv_no_id = id
            
            $.ajax({
                type: 'POST',
                url: "{% url 'employee-dv' %}",
                data:{
                    dv_id: id
                }
            }).done(function (data) {
                dv_number = '';
                charges = '';
                outgoing_id = 0;
                dv_number = data.dv_number;
                charges = data.charges;
                outgoing_id = data.outgoing_id;
                $("#f-outgoing-id").val(data.outgoing_id)
                let is_print = data.is_print;
                tbody.empty();
                data.data.forEach(function (item) {
                  const formattedFinalAmount = parseFloat(item.final_amount).toFixed(2);
                  let amountColumn = '';
                  let editColumn = '';
                  let deleteColumn = '';
                  let purposeColumn = '';
                  let chargesColumn = '';
                  selectOptions = '';
                  for (var i = 0; i < charges.length; i++) {
                      var charge = charges[i];
                      selectOptions += `<option value="${charge.id}" ${charge.name === item.charge ? 'selected' : ''}>${charge.name}</option>`;
                  }
                  if (is_print) {
                    $(".create-new").prop("disabled", true);
                    amountColumn = `<td><input type="text" class="form-control emp-amount" value="${formattedFinalAmount}" disabled></td>`;
                    purposeColumn = `<td><input type="text" class="form-control emp-purpose" value="${item.purpose}" disabled></td>`;
                    chargesColumn = `<td><select name="emp-charges" class="form-select emp-charges" data-allow-clear="true" disabled>${selectOptions}</select></td>`;
                    editColumn = `<a class="btn btn-sm btn-icon" id="${item.id}"><i class="text-primary ti ti-edit-off"></i></a>`;
                    deleteColumn = `<a class="btn btn-sm btn-icon" id="${item.id}" ><i class="text-primary ti ti-trash-off"></i></a>`;
                } else {
                  $(".create-new").prop("disabled", false);
                    amountColumn = `<td><input type="text" class="form-control emp-amount" value="${formattedFinalAmount}"></td>`;
                    purposeColumn = `<td><input type="text" class="form-control emp-purpose" value="${item.purpose}"></td>`;
                    chargesColumn = `<td><select name="emp-charges" class="form-select emp-charges" data-allow-clear="true">${selectOptions}</select></td>`;
                    editColumn = `<a class="btn btn-sm btn-icon item-edit" id="${item.id}"><i class="text-primary ti ti-edit"></i></a>`;
                    deleteColumn = `<a class="btn btn-sm btn-icon item-delete" id="${item.id}" ><i class="text-primary ti ti-trash"></i></a>`;
                }
                  const row = `
                      <tr>
                          <td><input type="checkbox"></td>
                          <td><span class="badge bg-label-primary">${item.code}</span></td>
                          <td><span class="badge bg-label-warning">${item.account_no}</span></td>
                          <td><span class="badge bg-label-primary">${item.id_no}</span></td>
                          <td>${item.name}</td>
                          ${amountColumn}
                          ${purposeColumn}
                          ${chargesColumn}
                          <td>${editColumn}${deleteColumn}</td>
                      </tr>
                  `;
                  tbody.append(row);
              });
              $('#emp-charges').html(selectOptions);
                let totalAmount = data.total_amount;
                totalAmount = parseFloat(data.total_amount).toLocaleString('en-US', {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                });
                $('#update-transaction').modal('show');
            })
        });

      $('#f-employee-name').change(function() {
            var selectedOptions = $(this).find('option:selected');
            selectedOptions.each(function() {
                var optionValue = $(this).val();
                if (employeeList.indexOf(optionValue) === -1) {
                  employeeList.push(optionValue);
                }
            });
            $(this).find('option:not(:selected)').each(function() {
                var optionValue = $(this).val();
                var index = employeeList.indexOf(optionValue);
                if (index !== -1) {
                  employeeList.splice(index, 1);
                }
            });
      });

      function fetchEmployee($selectElement) {
        const employees = JSON.parse(localStorage.getItem('employees'));
        if (employees) {
            $.each(employees, function (index, employee) {
                const optionText = `${employee.firstName} ${employee.middleInitial} ${employee.lastName}`;
                const $option = $('<option>', {
                    value: employee.idNumber,
                    text: optionText,
                    id: employee.idNumber
                });
                $selectElement.append($option);
            });
        } else {
            console.log("No employee data found in local storage.");
        }
    }

      search_advance_filter.on('click', function () {
        FAdvancedFilter.val("true");
        $('#f-employee-name').empty();
        $("#advance-filter").modal("hide");
        dataTable.ajax.reload();
        clear_advfilter();
        toastr.success('Search successfully', 'Success', toast_options);
      });

      reset_advance_filter.on('click', function () {
        FAdvancedFilter.val('');
        $('#f-employee-name').empty();
        $("#advance-filter").modal("hide");
        dataTable.ajax.reload();
        toastr.success('Data has been reset', 'Success', toast_options);
      });

      clear_advance_filter.on('click', function () {
        clear_advfilter();
        toastr.success('Clear successfully', 'Success', toast_options);
      });

      function clear_advfilter(){
        FIdNumber.val('');
        FTransactionCode.val('');
        NDVNumber.val('');
        dateField.clear();
        FEmployeeName.val('').trigger('change');
      }

    })
</script>
{% endblock footer_scripts %}
