{% extends 'index.html' %} {% block content %} {% load staticfiles %}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-fluid flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tracking /</span> Travel History</h4>

        <!-- DataTable with Buttons -->
        <div class="card">
            <div class="card-datatable table-responsive pt-0">
                <table id="tbl-items" class="table">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Dv No</th>
                            <th>Employee Name</th>
                            <th>Date Travel</th>
                            <th>Amt. Certified</th>
                            <th>Received</th>
                            <th>Reviewed</th>
                            <th>Payroll</th>
                            <th>Box A</th>
                            <th>Obligate</th>
                            <th>Journal</th>
                            <th>Certified</th>
                            <th>Check Issued</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

      
<!-- Modal to add new record -->
<div class="offcanvas offcanvas-end" id="add-new-record">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel"><p class="title-name">Add Record</p></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <form class="add-new-record pt-0 row g-2" id="item-form">
            <input type="hidden" id="item-id" name="ItemID" />
            <div class="col-sm-12">
                <label class="form-label" for="employee-name">Employee Name</label>
                <select id="employee-name" name="EmployeeName" class="form-select employee" data-allow-clear="true">
                    <option></option>
                    <option>Reymark N. Valdehueza</option>
                    <option>Saton Goru</option>
                    <option>Monkey D luffy</option>
                </select>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label" for="original-amount">Amount</label>
                    <input id="original-amount" name="OriginalAmount" class="form-control amount"type="number"placeholder="0.00"/>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label" for="remarks">Remarks</label>
                    <div class="input-group input-group-merge">
                        <textarea class="form-control dt-sales-remarks" placeholder="Enter remarks (optional)" rows="6" id="remarks" name="Remarks"></textarea>
                        <span class="input-group-text">
                          <i class="ti ti-microphone cursor-pointer text-to-speech-toggle"></i>
                        </span>
                       
                      </div>
                </div>
            </div>
            
            <div class="col-sm-12 mt-4">
                <button name="submitButton" class="btn btn-primary data-submit me-sm-3 me-1 additional-record">Submit</button>
                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
            </div>
        </form>
    </div>
</div>

{% endblock %} {% block footer_scripts %}
<script>
    let clicked_id = 0;
    let status_val =0;
    $(document).ready(function () {
        const table = $('#tbl-items')
        const ItemFormValidation = document.getElementById('item-form'),
            EmployeeName = jQuery(document.querySelector('[name="EmployeeName"]')),
            OriginalAmount = jQuery(document.querySelector('[name="OriginalAmount"]')),
            Remarks = jQuery(document.querySelector('[name="Remarks"]')),
            offCanvasElement = document.querySelector('#add-new-record')
        const offCanvasEl = new bootstrap.Offcanvas(offCanvasElement)
        const toast_options = (toastr.options = {
            maxOpened: 1,
            autoDismiss: true,
            closeButton: true,
            newestOnTop: true,
            progressBar: true,
            positionClass: 'toast-top-right',
            rtl: isRtl,
      });
        let ItemID = $('#item-id')

        let dataTable = table.DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "{% url 'travel-history-load' %}",
                type: "GET",
                data: {
                    identifier: 1
                }
            },
            columns: [
                { data: 'code' },
                { data: 'dv_no' },
                { data: 'full_name' },
                { data: 'date_travel'},
                { data: 'final_amount'},
                { data: 'status'},
                { data: 'status'},
                { data: 'status' },
                { data: 'status' },
                { data: 'amt_budget' },
                { data: 'amt_journal' },
                { data: 'amt_certified' },
                { data: 'amt_check' },
                { data: 'id' },

            ],
            columnDefs: [
            {
                targets: 0,
                render: function (data) {
                    return '<span class="badge bg-label-primary">' + data + '</span>'
                },
            },
            {
                targets: 1,
                render: function (data) {
                    if (data){
                        return '<span class="badge bg-label-primary">' + data + '</span>'
                    }
                    else{
                        return ''
                    }
                    
                },
            },
            {
                targets: 3,
                render: function(data) {
                    var splitValues = data.split(',');  // Split data by comma
                    var result = '';
                    
                    splitValues.forEach(function(value, index) {
                        if (index !== 0) {
                            result += '  '; // Add a space before adding subsequent values
                        }
                        var dateParts = value.split('-');
                        var monthNames = ["Jan.", "Feb.", "Mar.", "Apr.", "May", "Jun.", "Jul.", "Aug.", "Sep.", "Oct.", "Nov.", "Dec."];
                        var formattedDate = monthNames[parseInt(dateParts[1], 10) - 1] + ' ' + parseInt(dateParts[0], 10) + ', ' + dateParts[2];
                        
                        result += '<span class="badge bg-label-primary">' + formattedDate + '</span>';
                    });
                    
                    return result;
                },
            },

            {
                targets: 4,
                render: function(data) {
                    var floatValue = parseFloat(data);
                    if (floatValue !== 0) {
                        var formattedValue = floatValue.toLocaleString('en-US', {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2
                        });
                        return '<span class="badge bg-label-primary">₱ ' +formattedValue+'</span>';
                    } else {
                        return "";
                    }
                },
            },
            {
                targets: 5,
                render: function (data) {
                    data = parseInt(data); 
                    if (data >= 1){
                        return '<span class="badge badge-center rounded-pill bg-success"><i class="ti ti-check"></i></span>'
                    }
                    else{
                        return ''
                        
                    }

                },
            },
            {
                targets: 6,
                render: function (data) {
                    data = parseInt(data); 
                    if(data==3){
                        return '<span class="badge badge-center rounded-pill bg-danger"><i class="ti ti-x"></i></span>'
                    }
                    else if (data >= 2){
                        return '<span class="badge badge-center rounded-pill bg-success"><i class="ti ti-check"></i></span>'
                    }
                    else{
                        return ''
                        
                    }

                },
            },
            {
                targets: 7,
                render: function (data) {
                    data = parseInt(data); 
                    
                    if (data>=4 && data!=7){
                        return '<span class="badge badge-center rounded-pill bg-success"><i class="ti ti-check"></i></span>'
                    }
                    else{
                        return ''
                        
                    }

                },
            },
            {
                targets: 8,
                render: function (data) {
                    data = parseInt(data); 
                    if (data>=5 && data!=7){
                        return '<span class="badge badge-center rounded-pill bg-success"><i class="ti ti-check"></i></span>'
                    }
                    else{
                        return ''
                        
                    }

                },
            },

            {
                targets: 9,
                render: function (data) {
                    data = parseInt(data); 

                    if (data){
                        return '<span class="badge badge-center rounded-pill bg-success"><i class="ti ti-check"></i></span>'
                    }
                    else{
                        return ''
                    }
                },
            },

            {
                targets: 10,
                render: function (data) {
                    data = parseInt(data); 

                    if (data){
                        return '<span class="badge badge-center rounded-pill bg-success"><i class="ti ti-check"></i></span>'
                    }
                    else{
                        return ''
                    }

                },
            },
            {
                targets: 11,
                render: function (data) {
                    data = parseInt(data); 

                    if (data){
                        return '<span class="badge badge-center rounded-pill bg-success"><i class="ti ti-check"></i></span>'
                    }
                    else{
                        return ''
                    }

                },
            },
            {
                targets: 12,
                render: function (data) {
                    data = parseInt(data); 
                    if (data){
                        return '<span class="badge badge-center rounded-pill bg-success"><i class="ti ti-check"></i></span>'
                    }
                    else{
                        return ''
                    }

                },
            },
            {
                targets: -1,
                title: 'Action',
                orderable: false,
                searchable: false,
                render: function (data) {
                    return (
                        '<a href="javascript:;" data-id="' + data + '" class="item-edit text-body"><i class="text-primary ti ti-eye"></i></a>'
                    )
                },
            },
            
            ],
            dom: '<"card-header flex-column flex-md-row"<"head-label text-center"><"dt-action-buttons text-end pt-3 pt-md-0"B>><"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"f>>t<"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
            buttons: [
                {
                    className: 'btn btn-label-primary me-2',
                    text: '<i class="ti ti-file-search me-sm-1"></i> <span class="d-none d-sm-inline-block">Advance Filter</span>',
                },
            ],
        })
        $('div.head-label').html('<h5 class="card-title mb-0">Items</h5>')

    })
</script>
{% endblock footer_scripts %}
