{% extends 'index.html' %} {% block content %} {% load staticfiles %}
            <!-- Content -->
            <!-- <div class="container-fluid flex-grow-1 container-p-y"> -->
            <div class="container-fluid flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">User Profile /</span> Accomplishments</h4>

              <!-- Header -->
              <div class="row">
                <div class="col-12">
                  <div class="card mb-4">
                    <div class="user-profile-header-banner">
                      <img src="{% static 'assets/img/pages/profile-banner.png' %}" alt="Banner image" class="rounded-top" />
                    </div>
                    <div class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-4">
                      <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
                        {% if image_path %}
                        <img
                          src="{{image_path}}"
                          alt="user image"
                          class="d-block h-auto ms-0 ms-sm-4 rounded user-profile-img"
                        />
                        {% else %}
                        <img
                        src="{% static 'assets/img/avatars/14.png' %}"
                          alt="user image"
                          class="d-block h-auto ms-0 ms-sm-4 rounded user-profile-img"
                        />
                        {% endif %}
                      </div>
                      <div class="flex-grow-1 mt-3 mt-sm-5">
                        <div
                          class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-4 flex-md-row flex-column gap-4"
                        >
                          <div class="user-profile-info">
                            <h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
                            <ul
                              class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-2"
                            >
                              <li class="list-inline-item"><i class="ti ti-color-swatch"></i>Untitled</li>
                            </ul>
                          </div>
                          <a href="javascript:void(0)" class="btn btn-success">
                            <i class="ti ti-user-check me-1"></i>Active
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Header -->

              <!--/ Navbar pills -->

              <!-- Navbar pills -->
              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-pills flex-column flex-sm-row mb-4">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'profile' %}"
                        ><i class="ti-xs ti ti-user-check me-1"></i> Profile</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="{% url 'accomplishment' %}"
                        ><i class="ti-xs ti ti-users me-1"></i> Accomplishments</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <!--/ Navbar pills -->

              <!-- Alerts with Icons -->
              <div class="col-md">
                <div class="card">
                    <h5 class="card-header">Accomplishments</h5>
                    <div class="card-body">
            
                        <div class="alert alert-primary d-flex align-items-center" role="alert">
                            <span class="alert-icon text-primary me-2">
                                <i class="ti ti-info-circle ti-xs"></i>
                            </span>
                            Accomplishment report saving process has been significantly enhanced, ensuring faster and more efficient operations.
                        </div>
            
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <label class="form-label" for="modalEditTaxID">Start Date</label>
                                <input type="date" class="form-control" name="FStartDate" id ="FStartDate" placeholder="DD-MM-YYYY" autocomplete="off" />
                            </div>
                            <div class="col-12 col-md-5">
                                <label class="form-label" for="modalEditTaxID">End Date</label>
                                <input type="date" class="form-control" name="FEndDate" id ="FEndDate" placeholder="DD-MM-YYYY" autocomplete="off" />
                            </div>
                            <div class="col-12 col-md-2">
                              <br>
                              <a href="javascript:void(0)" id="generate-accomplishment" class="btn btn-primary" style="width:200px;">
                                Generate
                              </a>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <br>
              <!-- Bootstrap Table with Caption -->
              <div class="card" id="card-accomplishment">
                <h5 class="card-header">Daily Accomplishment</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table" id="accomplishment-tbl">
                    <caption class="ms-4">
                        List of Accomplishment
                    </caption>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Received</th>
                            <th>Reviewed</th>
                            <th>Payrolled</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Existing rows can be removed or kept as placeholders -->
                    </tbody>
                </table>
                </div>
              </div>
              <!-- Bootstrap Table with Caption -->
            </div>
            <!-- / Content -->

  {% endblock %}
  {% block footer_scripts %}
  <script>
    $(document).ready(function() {
      const FStartDate = jQuery(document.querySelector('[name="FStartDate"]')),
            FEndDate = jQuery(document.querySelector('[name="FEndDate"]'));
      const toast_options = (toastr.options = {
        maxOpened: 1,
        autoDismiss: true,
        closeButton: true,
        newestOnTop: true,
        progressBar: true,
        positionClass: 'toast-top-right',
        rtl: isRtl,
      });

      $('#generate-accomplishment').on('click', function() {
        $.ajax({
          type: 'POST',
          url: "{% url 'generate-accomplishment' %}",
          data:{
            start_date: FStartDate.val(),
            end_date: FEndDate.val(),
          }
        }).done(function (data) {
          var tbody = $('#accomplishment-tbl tbody');
          tbody.empty();

          $.each(data, function(index, item) {
            var row = $('<tr>').append(
                $('<td>').html('<span class="badge bg-label-primary">' + item.date + '</span>'),
                $('<td>').text(item.received),
                $('<td>').text(item.reviewed),
                $('<td>').text(item.payrolled)
            );
            tbody.append(row);
          });
          toastr.success('Generate Successfully', 'Success', toast_options);

      
        });
      });
    });
  </script>
  {% endblock footer_scripts %}