{% extends 'index.html' %} {% block content %} {% load staticfiles %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      
      <!-- View sales -->
      <div class="col-xl-4 mb-4 col-lg-5 col-12">

        <select id="dp-year" name="DpYear" class="form-select" style="height:50px;">
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
       </select><br><br>
       <input type="hidden" id="current_year" name="current_year" value="{{ current_year }}"></input>
        
        <div class="card">
          <div class="d-flex align-items-end row">
            <div class="col-7">
              <div class="card-body text-nowrap">
                <h5 class="card-title mb-0">Welcome 🎉</h5>
                <p class="mb-2">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                <a href="javascript:;" class="btn btn-primary">Active</a>
                <!-- <a href="javascript:;" class="btn btn-primary">{{ user_role }}</a> -->
              </div>
            </div>
            <div class="col-5 text-center text-sm-left">
              <div class="card-body pb-0 px-0 px-md-4">
                <img
                  src="{% static 'assets/img/illustrations/card-advance-sale.png' %}"
                  height="140"
                  alt="view sales"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- View sales -->

      <!-- Statistics -->
      <div class="col-xl-8 mb-4 col-lg-7 col-12">
        <div class="card h-100">
          <div class="card-header">
            <div class="d-flex justify-content-between mb-3">
              <h5 class="card-title mb-0">Reports</h5>
              
            </div>
          </div>
          <div class="card-body">
            <div class="row gy-3">
              <div class="col-md-3 col-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-pill bg-label-primary me-3 p-2">
                    <i class="ti ti-chart-pie-2 ti-sm"></i>
                  </div>
                  <div class="card-info">
                    <h5 class="mb-0">{{ incoming }}</h5>
                    <small>Received</small>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-pill bg-label-info me-3 p-2">
                    <i class="ti ti-users ti-sm"></i>
                  </div>
                  <div class="card-info">
                    <h5 class="mb-0">{{ checking }}</h5>
                    <small>Reviewed Documents</small>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-pill bg-label-danger me-3 p-2">
                    <i class="ti ti-credit-card ti-sm"></i>
                  </div>
                  <div class="card-info">
                    <h5 class="mb-0">{{ returned }}</h5>
                    <small>Returned</small>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-pill bg-label-success me-3 p-2">
                    <i class="ti ti-browser-check ti-sm"></i>
                  </div>
                  <div class="card-info">
                    <h5 class="mb-0">{{ payroll }}</h5>
                    <small>For Payroll</small>
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-pill bg-label-info me-3 p-2">
                    <i class="ti ti-ticket ti-sm"></i>
                  </div>
                  <div class="card-info">
                    <h5 class="mb-0">{{ payrolled }}</h5>
                    <small>Payrolled</small>
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-pill bg-label-warning me-3 p-2">
                    <i class="ti ti-clock ti-sm"></i>
                  </div>
                  <div class="card-info">
                    <h5 class="mb-0">{{ outgoing }}</h5>
                    <small>Outgoing</small>
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-pill bg-label-success me-3 p-2">
                    <i class="ti ti-discount ti-sm"></i>
                  </div>
                  <div class="card-info">
                    <h5 class="mb-0">{{ budget }}</h5>
                    <small>Budget</small>
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-pill bg-label-primary me-3 p-2">
                    <i class="ti ti-circle-check ti-sm"></i>
                  </div>
                  <div class="card-info">
                    <h5 class="mb-0">{{ journal }}</h5>
                    <small>Journal</small>
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-pill bg-label-success me-3 p-2">
                    <i class="ti ti-users ti-sm"></i>
                  </div>
                  <div class="card-info">
                    <h5 class="mb-0">{{ approval }}</h5>
                    <small>Approval</small>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
      <!--/ Statistics -->

      <div class="col-xl-4 col-12">
        <div class="row">
          {% comment %} <div class="col-xl-6 col-md-4 col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="badge p-2 bg-label-info mb-2 rounded"><i class="ti ti-chart-bar ti-md"></i></div>
                <h5 class="card-title mb-1 pt-2">Total Sales</h5>
                <small class="text-muted">Last week</small>
                <p class="mb-2 mt-1">₱ 123,000</p>
                <div class="pt-1">
                  <span class="badge bg-label-secondary">+25.2%</span>
                </div>
              </div>
            </div>
          </div> {% endcomment %}

          
          <!-- Total Profit -->
          {% comment %} <div class="col-xl-6 col-md-4 col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="badge p-2 bg-label-danger mb-2 rounded">
                  <i class="ti ti-currency-dollar ti-md"></i>
                </div>
                <h5 class="card-title mb-1 pt-2">Total Profit</h5>
                <small class="text-muted">Last week</small>
                <p class="mb-2 mt-1">₱ 50,080</p>
                <div class="pt-1">
                  <span class="badge bg-label-secondary">-12.2%</span>
                </div>
              </div>
            </div>
          </div> {% endcomment %}

        </div>
      </div>

      <!-- Chart Apex -->
      <div class="col-12 col-xl-12 mb-4 col-lg-12">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div>
              <h5 class="card-title mb-0">Statistics</h5>
              <small class="text-muted">By Month</small>
            </div>
            <div class="dropdown">
              <button
                type="button"
                class="btn dropdown-toggle px-0"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="ti ti-calendar"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Today</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Yesterday</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                    >Last 7 Days</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                    >Last 30 Days</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                    >Current Month</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last Month</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div id="lineAreaChartDB"></div>
          </div>
        </div>
      </div>
      <!--/ Revenue Report -->

      <!-- Bar Chart -->
      <div class="col-md-6 col-12 mb-4">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <div>
              <p class="card-subtitle text-muted mb-1">Balance Allocated</p>
              <h5 class="card-title fw-bold mb-0">₱174,382.72</h5>
            </div>
            <div class="dropdown">
              <button
                type="button"
                class="btn dropdown-toggle px-0"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="ti ti-calendar"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Today</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Yesterday</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                    >Last 7 Days</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                    >Last 30 Days</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                    >Current Month</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last Month</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div id="horizontalBarChart"></div>
          </div>
        </div>
      </div>
      <!-- /Bar Chart -->

      <!-- Donut Chart -->
      <div class="col-md-6 col-12 mb-4">
        <div class="card">
          <div class="card-header d-flex align-items-center justify-content-between">
            <div>
              <h5 class="card-title mb-0">Charges Ratio</h5>
              <small class="text-muted">DSWD Charges allocated</small>
            </div>
            <div class="dropdown d-none d-sm-flex">
              <button
                type="button"
                class="btn dropdown-toggle px-0"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="ti ti-calendar"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Today</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Yesterday</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                    >Last 7 Days</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                    >Last 30 Days</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                    >Current Month</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last Month</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div id="donutChart"></div>
          </div>
        </div>
      </div>
      <!-- /Donut Chart -->
      {% comment %} <div class="col-12 mb-4">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div>
              <h5 class="card-title mb-0">Monthly Report</h5>
              <small class="text-muted">TEV Received</small>
            </div>
            <div class="d-sm-flex d-none align-items-center">
              <h5 class="fw-bold mb-0 me-3">₱ 100,000</h5>
              <span class="badge bg-label-secondary">
                <i class="ti ti-arrow-big-down ti-xs text-danger"></i>
                <span class="align-middle">20%</span>
              </span>
            </div>
          </div>
          <div class="card-body">
            <div id="lineChart"></div>
          </div>
        </div>
      </div> {% endcomment %}

    </div>
  </div>

  {% endblock %}{% block footer_scripts %}
  <script>
    
    let cardColor, headingColor, labelColor, borderColor, legendColor;
    if (isDarkStyle) {
      cardColor = config.colors_dark.cardColor;
      headingColor = config.colors_dark.headingColor;
      labelColor = config.colors_dark.textMuted;
      legendColor = config.colors_dark.bodyColor;
      borderColor = config.colors_dark.borderColor;
    } else {
      cardColor = config.colors.cardColor;
      headingColor = config.colors.headingColor;
      labelColor = config.colors.textMuted;
      legendColor = config.colors.bodyColor;
      borderColor = config.colors.borderColor;
    }
    const payroll_c_list = {{ payroll_c_list|safe }};
    const received_counts = {{ received_counts|safe }};
    const reviewed_counts = {{ reviewed_counts|safe }};
    const payrolled_counts = {{ payrolled_counts|safe }};
    const outgoing_counts = {{ outgoing_counts|safe }};
    const budget_counts = {{ budget_counts|safe }};
    const journal_counts = {{ journal_counts|safe }};
    const approval_counts = {{ approval_counts|safe }};
    const returned_counts = {{ returned_counts|safe }};
    const charges_list = {{ charges_list|safe }};
    
    const chartColors = {
      column: {
        series1: '#826af9',
        series2: '#d2b0ff',
        bg: '#f8d3ff'
      },
      donut: {
        series1: '#fee802',
        series2: '#3fd0bd',
        series3: '#826bf8',
        series4: '#2b9bf4'
      },
      donut2: {
        series1: '#fee802',
        series2: '#3fd0bd',
        series3: '#826bf8',
        series4: '#2b9bf4',
        series5: '#ffc266',
        series6: '#80ffff',
        series7: '#94b8b8',
        series8: '#66b3ff'
      },
      area: {
        series1: '#ff6666',
        series2: '#60f2ca',
        series3: '#a5f8cd',
        series4: '#ffff80',
        series5: '#ffc266',
        series6: '#80ffff',
        series7: '#94b8b8',
        series8: '#66b3ff'
      }
    };
    //donut_chart
    const donutChartEl = document.querySelector('#donutChart_'),
      donutChartConfig = {
        chart: {
          height: 445,
          type: 'donut'
        },
        labels: charges_list,
        series: payroll_c_list,
        colors: [
          chartColors.donut2.series3,
          chartColors.area.series4,
          chartColors.area.series3,
          chartColors.area.series2,
          chartColors.area.series5,
          chartColors.area.series6,
        ],
        stroke: {
          show: false,
          curve: 'straight'
        },
        dataLabels: {
          enabled: true,
          formatter: function (val, opt) {
            return parseInt(val, 10) + '%';
          }
        },
        legend: {
          show: true,
          position: 'bottom',
          markers: { offsetX: -3 },
          itemMargin: {
            vertical: 3,
            horizontal: 10
          },
          labels: {
            colors: legendColor,
            useSeriesColors: false
          }
        },
        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
                name: {
                  fontSize: '2rem',
                  fontFamily: 'Open Sans'
                },
                value: {
                  fontSize: '1.2rem',
                  color: legendColor,
                  fontFamily: 'Open Sans',
                  formatter: function (val) {
                    return parseInt(val, 10) + '%';
                  }
                },
                total: {
                  show: true,
                  fontSize: '1.5rem',
                  color: headingColor,
                  label: 'TOTAL',
                  formatter: function (w) {
                    return '100%';
                  }
                }
              }
            }
          }
        },
        responsive: [
          {
            breakpoint: 992,
            options: {
              chart: {
                height: 380
              },
              legend: {
                position: 'bottom',
                labels: {
                  colors: legendColor,
                  useSeriesColors: false
                }
              }
            }
          },
          {
            breakpoint: 576,
            options: {
              chart: {
                height: 320
              },
              plotOptions: {
                pie: {
                  donut: {
                    labels: {
                      show: true,
                      name: {
                        fontSize: '1.5rem'
                      },
                      value: {
                        fontSize: '1rem'
                      },
                      total: {
                        fontSize: '1.5rem'
                      }
                    }
                  }
                }
              },
              legend: {
                position: 'bottom',
                labels: {
                  colors: legendColor,
                  useSeriesColors: false
                }
              }
            }
          },
          {
            breakpoint: 420,
            options: {
              chart: {
                height: 280
              },
              legend: {
                show: false
              }
            }
          },
          {
            breakpoint: 360,
            options: {
              chart: {
                height: 250
              },
              legend: {
                show: false
              }
            }
          }

        ]
      };
    if (typeof donutChartEl !== undefined && donutChartEl !== null) {
      const donutChart = new ApexCharts(donutChartEl, donutChartConfig);
      donutChart.render();
    }
    //endchart donut



    $(document).ready(function () {
      const areaChartEl = document.querySelector('#lineAreaChartDB'),
        areaChartConfig = {
          chart: {
            height: 400,
            type: 'area',
            parentHeightOffset: 0,
            toolbar: {
              show: false
            }
          },
          dataLabels: {
            enabled: false
          },
          stroke: {
            show: false,
            curve: 'straight'
          },
          legend: {
            show: true,
            position: 'top',
            horizontalAlign: 'start',
            labels: {
              colors: legendColor,
              useSeriesColors: false
            }
          },
          grid: {
            borderColor: borderColor,
            xaxis: {
              lines: {
                show: true
              }
            }
          },
          colors: [chartColors.area.series3, chartColors.area.series2, chartColors.area.series4, chartColors.area.series5, chartColors.area.series6, chartColors.area.series7, chartColors.area.series8, chartColors.area.series1],
          series: [
            { name: 'Received', data: received_counts },
            { name: 'Reviewed Documents', data: reviewed_counts },
            { name: 'Payrolled', data: payrolled_counts },
            { name: 'Outgoing', data: outgoing_counts },
            { name: 'Budget', data: budget_counts },
            { name: 'Journal', data: journal_counts },
            { name: 'Approval', data: approval_counts },
            { name: 'Returned', data: returned_counts },
          ],
          xaxis: {
            categories: [
              'January', 'February', 'March', 'April', 'May', 'June',
              'July', 'August', 'September', 'October', 'November', 'December'
            ],
            axisBorder: { show: false },
            axisTicks: { show: false },
            labels: {
              style: {
                colors: labelColor,
                fontSize: '13px'
              }
            }
          },
          yaxis: {
            labels: {
              style: {
                colors: labelColor,
                fontSize: '13px'
              }
            }
          },
          fill: {
            opacity: 1,
            type: 'solid'
          },
          tooltip: {
            shared: false
          }
        };
    
      const areaChart = new ApexCharts(areaChartEl, areaChartConfig);
      areaChart.render();
    
      $('#dp-year').change(function() {
        var selectedYear = $(this).val();    
        $.ajax({
          type: 'POST',
          url: "{% url 'view-stats-year' %}",
          data: {
            year: selectedYear,
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function (data) {

            console.log(data);
            console.log("testttttttttt");
            // Update the chart series with the new data
            areaChart.updateSeries([
              { name: 'Received', data: data.received_counts },
              { name: 'Reviewed Documents', data: data.reviewed_counts },
              { name: 'Payrolled', data: data.payrolled_counts },
              { name: 'Outgoing', data: data.outgoing_counts },
              { name: 'Budget', data: data.budget_counts },
              { name: 'Journal', data: data.journal_counts },
              { name: 'Approval', data: data.approval_counts },
              { name: 'Returned', data: data.returned_counts },
            ]);
          }
        });
      });
    });
    

    
  

    

  </script>


  {% endblock footer_scripts %}