{% extends 'index.html' %} {% block content %} {% load staticfiles %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <!-- View sales -->
      <div class="col-xl-4 mb-4 col-lg-5 col-12">
        <div class="card">
          <div class="d-flex align-items-end row">
            <div class="col-7">
              <div class="card-body text-nowrap">
                <h5 class="card-title mb-0">Welcome 🎉</h5>
                <p class="mb-2">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                <a href="javascript:;" class="btn btn-primary">Active</a>
                <!-- <a href="javascript:;" class="btn btn-primary">{{ user_role }}</a> -->
              </div>
            </div>
            <div class="col-5 text-center text-sm-left">
              <div class="card-body pb-0 px-0 px-md-4">
                <img
                  src="{% static 'assets/img/illustrations/card-advance-sale.png' %}"
                  height="140"
                  alt="view sales"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- View sales -->

      <!-- Statistics -->
      <div class="col-xl-8 mb-4 col-lg-7 col-12">
        <div class="card h-100">
          <div class="card-header">
            <div class="d-flex justify-content-between mb-3">
              <h5 class="card-title mb-0">Total Reports</h5>
              
            </div>
          </div>
          <div class="card-body">
            <div class="row gy-3">
              <div class="col-md-3 col-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-pill bg-label-primary me-3 p-2">
                    <i class="ti ti-chart-pie-2 ti-sm"></i>
                  </div>
                  <div class="card-info">
                    <h5 class="mb-0">{{ incoming }}</h5>
                    <small>Received</small>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-pill bg-label-info me-3 p-2">
                    <i class="ti ti-users ti-sm"></i>
                  </div>
                  <div class="card-info">
                    <h5 class="mb-0">{{ checking }}</h5>
                    <small>Reviewed Documents</small>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-pill bg-label-danger me-3 p-2">
                    <i class="ti ti-shopping-cart ti-sm"></i>
                  </div>
                  <div class="card-info">
                    <h5 class="mb-0">{{ payroll}}</h5>
                    <small>Returned</small>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-pill bg-label-success me-3 p-2">
                    <i class="ti ti-currency-dollar ti-sm"></i>
                  </div>
                  <div class="card-info">
                    <h5 class="mb-0">{{ payroll }}</h5>
                    <small>Payroll</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Statistics -->

      <div class="col-xl-4 col-12">
        <div class="row">
          <!-- Expenses -->
          <div class="col-xl-6 col-md-4 col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="badge p-2 bg-label-info mb-2 rounded"><i class="ti ti-chart-pie-2 ti-md"></i></div>
                <h5 class="card-title mb-1 pt-2">Approved</h5>
                <p class="mb-2 mt-1">{{ approved }}</p>

              </div>
            </div>
          </div>
          <!--/ Expenses -->

          <!-- Profit last month -->
          <div class="col-xl-6 col-md-4 col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="badge p-2 bg-label-info mb-2 rounded"><i class="ti ti-chart-bar ti-md"></i></div>
                <h5 class="card-title mb-1 pt-2">Returned</h5>
                <p class="mb-2 mt-1">{{ returned }}</p>

              </div>
            </div>
          </div>
          <!--/ Profit last month -->

          <!-- Generated Leads -->
          <div class="col-xl-12 mb-4 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="d-flex flex-column">
                    <div class="card-title mb-auto">
                      <h5 class="mb-1 text-nowrap">Uploaded file <small>(Excel)</small></h5>
                  
                    </div>
                    <div class="chart-statistics">
                      {% comment %} <h3 class="card-title mb-1">{{ uploaded }}</h3> {% endcomment %}
                    </div>
                  </div>
                  <div id="generatedLeadsChart"></div>
                </div>
              </div>
            </div>
          </div>
          <!--/ Generated Leads -->

          
          {% comment %} <div class="col-xl-6 col-md-4 col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="badge p-2 bg-label-info mb-2 rounded"><i class="ti ti-chart-bar ti-md"></i></div>
                <h5 class="card-title mb-1 pt-2">Total Sales</h5>
                <small class="text-muted">Last week</small>
                <p class="mb-2 mt-1">₱ 123,000</p>
                <div class="pt-1">
                  <span class="badge bg-label-secondary">+25.2%</span>
                </div>
              </div>
            </div>
          </div> {% endcomment %}

          
          <!-- Total Profit -->
          {% comment %} <div class="col-xl-6 col-md-4 col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="badge p-2 bg-label-danger mb-2 rounded">
                  <i class="ti ti-currency-dollar ti-md"></i>
                </div>
                <h5 class="card-title mb-1 pt-2">Total Profit</h5>
                <small class="text-muted">Last week</small>
                <p class="mb-2 mt-1">₱ 50,080</p>
                <div class="pt-1">
                  <span class="badge bg-label-secondary">-12.2%</span>
                </div>
              </div>
            </div>
          </div> {% endcomment %}

        </div>
      </div>

      <!-- Chart Apex -->
      <div class="col-12 col-xl-8 mb-4 col-lg-7">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div>
              <h5 class="card-title mb-0">Data Reports</h5>
              <small class="text-muted">Daily</small>
            </div>
            <div class="dropdown">
              <button
                type="button"
                class="btn dropdown-toggle px-0"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="ti ti-calendar"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Today</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Yesterday</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                    >Last 7 Days</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                    >Last 30 Days</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center"
                    >Current Month</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last Month</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div id="lineAreaChart"></div>
          </div>
        </div>
      </div>
      <!--/ Revenue Report -->


      <div class="col-12 mb-4">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div>
              <h5 class="card-title mb-0">Monthly Report</h5>
              <small class="text-muted">TEV Received</small>
            </div>
            <div class="d-sm-flex d-none align-items-center">
              <h5 class="fw-bold mb-0 me-3">₱ 100,000</h5>
              <span class="badge bg-label-secondary">
                <i class="ti ti-arrow-big-down ti-xs text-danger"></i>
                <span class="align-middle">20%</span>
              </span>
            </div>
          </div>
          <div class="card-body">
            <div id="lineChart"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  {% endblock %}