<div id="loading-screen">
    <center>
        <div class="col">
            <!-- Fold -->
            <div class="sk-fold sk-primary">
              <div class="sk-fold-cube"></div>
              <div class="sk-fold-cube"></div>
              <div class="sk-fold-cube"></div>
              <div class="sk-fold-cube"></div>
            </div>
          </div>  
    </center>
  </div>
  {% extends 'index.html' %} {% block content %} {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'custom/custom.css' %}" />
  <!-- Content wrapper -->
  <div class="content-wrapper">
      <!-- Content -->
      <div class="container-fluid flex-grow-1 container-p-y">
          <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Received /</span> Budget</h4>
  
          <!-- DataTable with Buttons -->
          <div class="card">
              <div class="card-datatable table-responsive pt-0">
                  <table id="tbl-items" class="table">
                      <thead>
                          <tr>
                              <th><input type="checkbox" id="check-all" class="dt-checkboxes form-check-input"></th>
                              <th>Dv Number</th>
                              <th>Cluster</th>	
                              <th>Offices</th>
                              <th>Status</th>
                              <th>Date In</th>
                              <th>Date Received</th>
                              <th>Received By</th>
                              <th>Date Forwarded</th>
                              <th>Forwarded By</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody></tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  
  <!-- Edit User Modal -->
  <div class="modal fade" id="advance-filter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
        <div class="modal-content p-3 p-md-5">
        <div class="modal-body">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="text-center mb-4">
            <h3 class="mb-2">Advanced Filter </h3>
            <p class="text-muted">Filter data by filling the details below</p>
            </div>
            <form id="advanced-filter-list" class="row g-3" onsubmit="return false">
                <div class="col-12 col-md-12">
                    <label class="form-label" for="modalDvNumber">DV Number</label>
                    <select class="select2 form-select box-dv-no" name="BoxDvNo" id="box-dvno" multiple>
                      <option></option>
                      {% for row in dv_number %}
                      <option value="{{ row.id }}">{{ row.dv_no }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="col-12 col-md-6">
                    <label class="form-label" for="modalEditUserFirstName">Cluster</label>
                    <select class="select2 form-select f-cluster" name="FCluster" id="box-cluster">
                      <option></option>
                      {% for row in cluster %}
                      <option value="{{ row.id }}">{{ row.name }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="col-12 col-md-6">
                    <label class="form-label" for="modalEditUserLastName">Division</label>
                    <select class="select2 form-select f-division " name="FDivision" id="box-division" >
                      <option></option>
                      {% for row in division %}
                      <option value="{{ row.id }}">{{ row.name }}</option>
                      {% endfor %}
                    </select>
                </div>
  
                <div class="col-12 col-md-6">
                  <label class="form-label" >Date In</label>
                  <input
                  type="date"
                  id="f-box-in"
                  name="FBoxIn"
                  class="form-control"
                  />
                </div>
  
                <div class="col-12 col-md-6">
                  <label class="form-label" >Date Received</label>
                  <input
                  type="date"
                  id="f-date-received"
                  name="FDateReceived"
                  class="form-control"
                  />
                </div>
  
                <div class="col-12 col-md-6">
                  <label class="form-label" >Date Forwarded</label>
                  <input
                  type="date"
                  id="f-date-forwarded"
                  name="FDateForwarded"
                  class="form-control"
                  />
                </div>
  
                <div class="col-12 col-md-6">
                  <label class="form-label" for="modalEditTaxID">Status</label>
                  <select class="select2 form-select f-status" name="BoxStatus" id="box-status">
                    <option></option>
                    <option value="9">For Receive</option>
                    <option value="10">Received</option>
                    <option value="11">Forwarded</option>
                  </select>
                </div>
  
                  <input
                    type="hidden"
                    id="f-adv-filter"
                    name="FAdvancedFilter"
                    class="form-control"
                    placeholder="AdvFilter"
                    />
                <div class="col-12 text-center">
                    <button type="button" id="search-advance-filter" class="btn btn-primary me-sm-3 me-1">Search</button>
                    <button type="button" id="reset-advance-filter" class="btn btn-warning me-sm-3 me-1">Reset</button>
                    <button type="button" id="clear-advance-filter" class="btn btn-label-secondary">Clear</button>
                
                </div>
            </form>
        </div>
        </div>
    </div>
  </div>
  <!--/ Edit User Modal -->
  
  <div class="modal fade" id="update-transaction" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" style="min-width: 90%; min-height: 70%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- Modern Vertical Wizard -->
                <div class="col-12">
                  <div class="bs-stepper vertical wizard-modern wizard-modern-vertical mt-2">
                    <div class="bs-stepper-content">
                       <div class="card-datatable table-responsive pt-0"> <span id="dv-number" class="badge bg-label-primary"><i></i></span>
                    <table id="tbl-box-a" class="table display compact">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Code #</th>
                                <th>Accnt. No.</th>
                                <th>ID Number</th>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Purpose</th>
                                <th>Charges</th>
                            </tr>
                        </thead>    
                        <tbody>
                        </tbody>               
                    </table>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Modern Vertical Wizard -->
               
            </div>
            <div class="modal-footer">
                <h5 class="card-action-title mb-0">Total Amount <span id="total-amount" class="badge bg-label-primary"></span></h5>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
  
  
  <!-- Enable OTP Modal -->
  <div class="modal fade" id="payrollUpdate" tabindex="-1" aria-hidden="true" data-bs-backdrop="static" >
    <div class="modal-dialog modal-simple modal-enable-otp modal-dialog-centered">
        <div class="modal-content p-3 p-md-5">
        <div class="modal-body">
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            <div class="text-center mb-4">
                <h3 class="mb-2">Multiple Charges</h3>
                <p>Select charges with their corresponding amount</p>
            </div>
  
            <div class="col-12 col-md-12">
              <label class="form-label">NAME</label>
              <div class="input-group">
                <input
                    type="text"
                    id="f-name"
                    name="FName"
                    class="form-control phone-number-mask"
                    placeholder="Ed Sheeran"
                disabled/>
              </div>
            </div>
            <br>
            <div class="col-12 col-md-12">
              <label class="form-label">AMOUNT ISSUED</label>
              <div class="input-group">
                <span class="input-group-text">₱</span>
                <input
                    type="number"
                    id="amount-issued"
                    name="AmountIssued"
                    class="form-control phone-number-mask"
                    placeholder="0.00"
                />
              </div>
            </div>
            <br>
            <form id="tev-correctness-form" class="row g-3" onsubmit="return false">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <br>
                        <button type="button" id="add_charges" name="AddCharges" class="btn btn-primary me-sm-3 me-1">+</button>
                        <span id="remarks_error" style="color: red;"></span>
                    </div>
                </div>
                <div class="rows-container">
                </div>
            </div>    
            <div class="col-12">
                <br>
                <button type="submit" id ="save-multiple-charges" class="btn btn-label-primary me-sm-3 me-1">Save</button>
                <button
                    id ="cancel-multiple-charges"
                    type="reset"
                    class="btn btn-label-secondary"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    >
                    Cancel
                </button>
            </div>
            </form>
        </div>
        </div>
    </div>
  </div>
  <!--/ Enable OTP Modal -->
  
  {% endblock %} {% block footer_scripts %}
  <script>
      let clicked_id = 0;
      let dv_no_id =0;
      let dv_number = '';
      let charges = '';
      let outgoing_id = 0;
      let selectedDv = [];
      let temp_id = 0;
      let data_clicked = false;
      let dataTable2;
      var new_id;
      let chargeId = 0;
      let selectedCb = [];
      $(document).ready(function () {
        $('#loading-screen').hide();
        const table_box_a = $('#tbl-box-a')
        const table = $('#tbl-items');
        const currentDate = new Date();
        let year_now  = "";
        if(!year_now){year_now = currentDate.getFullYear().toString();}  
      
        const ItemFormValidation = document.getElementById('item-form'),
            AddRecordDv = document.getElementById('add-record-dv'),
            Remarks = jQuery(document.querySelector('[name="Remarks"]')),
            DateTravel = jQuery(document.querySelector('[name="DateTravel"]')),
            RangeTravel = jQuery(document.querySelector('[name="RangeTravel"]')),
            FPurpose = jQuery(document.querySelector('[name="FPurpose"]')),
            FCharges = jQuery(document.querySelector('[name="FCharges"]')),
            FinalAmount = jQuery(document.querySelector('[name="FinalAmount"]')),
            BoxStatus= jQuery(document.querySelector('[name="BoxStatus"]')),
            BoxDvNo = jQuery(document.querySelector('[name="BoxDvNo"]')),
            FBoxIn = jQuery(document.querySelector('[name="FBoxIn"]')),
            FDateReceived = jQuery(document.querySelector('[name="FDateReceived"]')),
            FDateForwarded = jQuery(document.querySelector('[name="FDateForwarded"]')),
            FDivision = jQuery(document.querySelector('[name="FDivision"]')),
            FCluster = jQuery(document.querySelector('[name="FCluster"]')),
            FName = jQuery(document.querySelector('[name="FName"]')),
            AmountIssued = jQuery(document.querySelector('[name="AmountIssued"]')),
            search_advance_filter = $('#search-advance-filter'),
            FAdvancedFilter= jQuery(document.querySelector('[name="FAdvancedFilter"]')),
            PayrollName = jQuery(document.querySelector('[name="PayrollName"]')),
            DpYear = jQuery(document.querySelector('[name="DpYear"]')),
            reset_advance_filter = $('#reset-advance-filter'),
            clear_advance_filter = $('#clear-advance-filter');
  
        const ItemFormAssignValidation = document.getElementById('assign-form');
        const toast_options = (toastr.options = {
              maxOpened: 1,
              autoDismiss: true,
              closeButton: true,
              newestOnTop: true,
              progressBar: true,
              positionClass: 'toast-top-right',
              rtl: isRtl,
        });
  
  
          let ItemID = $('#item-id');
          
          let dataTable = table.DataTable({
              processing: true,
              serverSide: true,
              ajax: {
                  url: "{% url 'budget-load' %}",
                  data: function (d) {
                      d.FAdvancedFilter = FAdvancedFilter.val()
                      d.BoxDvNo = BoxDvNo.val()
                      d.FCluster = FCluster.val()
                      d.FDivision = FDivision.val()
                      d.FBoxIn = FBoxIn.val()
                      d.FDateReceived = FDateReceived.val()
                      d.FDateForwarded = FDateForwarded.val()
                      d.BoxStatus = BoxStatus.val()
                      d.DpYear = year_now
                      d.ListDv = selectedDv;
                  },
              },
              columns: [
                  { data: 'id', status : 'status' },
                  { data: 'dv_no'},
                  { data: 'cluster' },
                  { data: 'division_name' },
                  { data: 'status' },
                  { data: 'box_b_out' },
                  { data: 'd_received' },
                  { data: 'received_by' },
                  { data: 'd_forwarded' },
                  { data: 'out_by' },
                  { data: 'id' }
              ],
              columnDefs: [
                  {
                      targets: 0,
                      orderable: false,
                      render: function (data, type, row) {
                          var status = row.status; 
                          let isChecked = selectedCb.includes(data.toString());
                          if (status == 6 || status == 8 ) {
                              return `<input type="checkbox" class="dt-checkboxes form-check-input checkbox-items" value="${data}" id ="checkbox_data" ${isChecked ? 'checked' : ''}>`;
                              
                          } else {
                              return `<input type="checkbox" class="dt-checkboxes form-check-input checkbox-items" value="${data}" id ="checkbox_data" ${isChecked ? 'checked' : ''}>`;
                              // return '<input type="checkbox" class="dt-checkboxes form-check-input" disabled="disabled">';
                          }
                      },
                  },
  
                  {
                      targets: 1,
                      render: function(data) {
                          return '<span class="badge bg-label-primary" >' + data + '</span>';
                      },
                  },
                  {
                      targets: 2,
                      render: function(data) {
                          return '<span class="badge bg-label-info">'+data+'</span>'
                      },
                  },
                  
                  {
                    targets: 4,
                    render: function (data) {
                        if(data==9){
                          return '<span class="badge bg-label-warning">For Receive</span>'
                        }
                        if(data==10){
                          return '<span class="badge bg-label-primary">Received</span>'
                        }
                        else{
                          return '<span class="badge bg-label-success">Forwarded</span>'
                        }
  
                    },
                  },
                  {
                      targets: -6,
                      render: function (data) {
                          return (data == null) ? '' : moment(data).format('LLL');
                      },
                  },

                  {
                      targets: -5,
                      render: function (data) {
                          return (data == null) ? '' : moment(data).format('LLL');
                      },
                  },

                  {
                      targets: -4,
                      render: function (data) {
                          return data;
                      },
                  },
                  {
                      targets: -3,
                      render: function (data) {
                          return (data == null) ? '' : moment(data).format('LLL');
                      },
                  },

                  {
                    targets: -1,
                    title: 'Action',
                    orderable: false,
                    searchable: false,
                    render: function (data) {
                        let itemId = data;
                        return '<a class="btn btn-sm btn-icon view-data" id="'+itemId+'"><i class="text-primary fa fa-eye"></i></a>';
                    },
                  },
              ],
              dom: '<"card-header flex-column flex-md-row"<"head-label text-center"><"dt-action-buttons text-end pt-3 pt-md-0"B>><"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"f>>t<"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
              buttons: [
                  {
                      
                      className: 'btn btn-label-primary me-2',
                      text: '<i class="ti ti-file-export me-sm-1"></i> <span class="d-none d-sm-inline-block">Transmittal</span>',
                      action: function () {
                          let data_year = $('#dp-year').val();
                          // Get the IDs of checked items
                          var selectedItems = [];
                          $('#tbl-items tbody input[type="checkbox"]:checked').each(function () {
                              selectedItems.push($(this).val());
                          });
              
                          if(selectedItems.length ===0){
                              toastr.error('Select item first', 'Invalid', toast_options);
                          }
                          else{
                              // var url = '{% url "transmittal-details" %}?selectedDv=' + selectedItems + '&year=' + data_year ;
                              var url = '{% url "transmittal-details" %}?selectedDv=' + selectedItems.join('&selectedDv=') + '&year=' + data_year;
                              window.open(url, '_blank');
                          }
                      }
                  },
                  {
                      className: 'btn btn-label-primary me-2',
                      text: '<i class="ti ti-file-search me-sm-1"></i> <span class="d-none d-sm-inline-block">Advance Filter</span>',
                      action: function () {
  
                        if (BoxDvNo.length) {
                          BoxDvNo.wrap('<div class="position-relative"></div>')
                          BoxDvNo.select2({
                                placeholder: 'Choose DV',
                                dropdownParent: BoxDvNo.parent(),
                                allowClear: true,
                            })
                        }
                        if (FDivision.length) {
                          FDivision.wrap('<div class="position-relative"></div>')
                          FDivision.select2({
                                placeholder: 'Choose Division',
                                dropdownParent: FDivision.parent(),
                                allowClear: true,
                            })
                        }
                        if (FCluster.length) {
                          FCluster.wrap('<div class="position-relative"></div>')
                          FCluster.select2({
                                placeholder: 'Choose Cluster',
                                dropdownParent: FCluster.parent(),
                                allowClear: true,
                            })
                        }
                        if (BoxStatus.length) {
                          BoxStatus.wrap('<div class="position-relative"></div>')
                          BoxStatus.select2({
                                placeholder: 'Choose Status',
                                dropdownParent: BoxStatus.parent(),
                                allowClear: true,
                            })
                        }
                        $("#advance-filter").modal("show");   
                        
                        
                    }
                  
                  },
  
              ],
              drawCallback: function (settings) {
                  const tableId = 'tbl-box-a'; // Change this to the specific table ID you want to populate
                  const tbody = $(`#${tableId} tbody`);
                  let selectOptions = '';
  
                  $('.view-data').on('click', function () {
                      let id = $(this).attr('id');
                      dv_no_id = id
                      data_clicked = true;
                      
                      $('#update-transaction').modal('show');
                      table_m();
                      employee_list();
  
                      dataTable2.ajax.reload();
                      //   updat eTransaction(dv_no_id);
                  });
  
                  $('#tbl-items').on('click', '.dt-checkboxes', function () {
                      var id = $(this).val();
                      if ($(this).prop('checked')) {
                          if (selectedCb.indexOf(id) === -1) {
                              selectedCb.push(id);
                          }
                          $(this).data('checked', true); 
                      } else {
  
                          let index = selectedCb.indexOf(id);
                          if (index !== -1) {
                              selectedCb.splice(index, 1);
                          }
                          $(this).data('checked', false); 
                      }
                  });
  
  
                  $('.print-data').on('click', function () {
                      alert("testt");
  
                  });
  
                  $('body').on('click', '.item-update', function () {
                  temp_id = $(this).attr('id');
                  $('#update-transaction').modal('hide');
                  $("#payrollUpdate").modal("show");
  
                    $.ajax({
                      type: 'POST',
                      url: "{% url 'multiple-charges-details' %}",
                      data:{
                        payroll_id: temp_id
                      }
                  }).done(function (data) {
  
                    let totalAmount = 0;
                    let amountList = [];
                    let chargesList = [];
                    let preview_amt = [];
                    let preview_charges = [];
  
                    
                    let full_name = data.full_name;
                    let amount = data.amount;
                    FName.val(full_name);
                    AmountIssued.val(amount);
  
  
      
                    $('.rows-container').empty();
  
                    chargesList = data.data.map(item => item.charges_id);
                    amountList = data.data.map(item => item.amount);
                    if (data.data.length > 0) {
  
  
                        for (let i = 0; i < data.data.length; i++) {
                            var newRow = $('<div class="row mt-2">' +
                            '<div class="col-5">' +
                            '<select class="form-select select-charges" id="select-charges-'+i+'">' +
                                '<option></option>'+
                                '{% for row in charges %}'+
                                   '{% if row.name != "Multiple" %}'+
                                       '<option value="{{ row.id }}">{{ row.name }}</option>'+
                                    '{% endif %}'+
                                '{% endfor %}'+
                            '</select>' +
                            '<span class="error-label">Required</span>'+
                            '</div>' +
                            '<div class="col-5">' +
                            '<input type="text" id="charges_amount" name="ChargesAmount" placeholder="0.00" class="form-control input-date" value="' + amountList[i] + '" />'+
                            '<span class="error-label-amount">Required</span>'+
                            '</div>' +
                            '<div class="col-2">' +
                            '<button type="button" class="btn btn-warning delete-row">-</button>' +
                            '</div>' +
                            '</div>');
                            newRow.find('.error-label, .error-label-amount').hide();
                            $('.rows-container').append(newRow);
                            $(`#select-charges-${i}`).val(chargesList[i]).trigger('change');
                        }
                    } else {
                        var newRow = $('<div class="row mt-2">' +
                        '<div class="col-5">' +
                        '<select class="form-select select-charges" id="select-charges">' +
                              '<option></option>'+
                              '{% for row in charges %}'+
                                  '{% if row.name != "Multiple" %}'+
                                      '<option value="{{ row.id }}">{{ row.name }}</option>'+
                                  '{% endif %}'+
                              '{% endfor %}'+
                        '</select>' +
                        '<span class="error-label">Required</span>'+
                        '</div>' +
                        '<div class="col-5">' +
                        '<input type="text" id="charges_amount" name="ChargesAmount" placeholder="0.00" class="form-control input-date" value="" />'+
                        '<span class="error-label-amount">Required</span>'+
                        '</div>' +
                        '<div class="col-2">' +
                        '<button type="button" class="btn btn-warning delete-row">-</button>' +
                        '</div>' +
                        '</div>');
                        newRow.find('.error-label, .error-label-amount').hide();
                        $('.rows-container').append(newRow);
                    }
                  })
                });
  
                  $('body').on('click', '.item-delete', function () {
                  let emp_id = $(this).attr('id');
  
                  let dataTable = $('#tbl-box-a').DataTable();
                  let closestRow = dataTable.row($(this).closest('tr'));
                  let rowData = closestRow.data();
                  let p_id = rowData.id;
  
                  $.ajax({
                      type: 'POST',
                      url: "{% url 'delete-box-list' %}",
                      data:{
                      emp_id: p_id,
                      dv_number: dv_number
                  }
                  }).done(function (data) {
                      if (data.data == 'success') {
                          employee_list();
                          dataTable2.ajax.reload();
                          toastr.success('Removed Successfully', 'Success', toast_options);
                      } else {
                          Swal.fire({
                              icon: 'error',
                              title: 'Error saving!',
                              text: data.message,
                              customClass: {
                                  confirmButton: 'btn btn-success',
                              },
                          })
                      }
                  })
          });
  
          $('#received').on('click', function(){
              if(selectedCb.length ===0){
                  toastr.error('Selected item first', 'Invalid', toast_options);
              }
              else{
                  outgoing(0);
              }
          });
  
          $('#forward').on('click', function(){
              if(selectedCb.length ===0){
                  toastr.error('Selected item first', 'Invalid', toast_options);
              }
              else{
                  outgoing(1);
              }
  
          });
  
          $('#check-all').change(function () {
              var isChecked = $(this).is(':checked');
              $('#tbl-items tbody input[type="checkbox"][class="dt-checkboxes form-check-input checkbox-items"]').prop('checked', isChecked);
              if (isChecked) {
                  $('#tbl-items tbody input[type="checkbox"][class="dt-checkboxes form-check-input checkbox-items"]').each(function () {
                      var id = $(this).val();
                      if (selectedCb.indexOf(id) === -1) {
                          selectedCb.push(id);
                      }
                  });
              } else {
                  $('#tbl-items tbody input[type="checkbox"][class="dt-checkboxes form-check-input checkbox-items"]').each(function () {
                      var id = $(this).val();
                      let index = selectedCb.indexOf(id);
                      if (index !== -1) {
                          selectedCb.splice(index, 1);
                      }
                  });
              }
          });
  
          $('.preview-details').on('click', function () {
              bx_id = $(this).data('id');
  
              $.ajax({
                  type: 'POST',
                  url: "{% url 'preview-box-a' %}",
                  data:{
                      box_id: bx_id
                  }
              }).done(function (data) {
              })
          });
          $('#cancel-multiple-charges').click(function() {
              dataTable2.ajax.reload();
          // updateTransaction(dv_no_id);
          });
      
  
      },
      })
  
  
      function employee_list(){
          $.ajax({
              type: 'POST',
              url: "{% url 'retrieve-employee' %}",
              data:{
                  dv_no_id: dv_no_id
              }  
          }).done(function (data) {
              let dv_no = data.dv_no;
              dv_number = dv_no;
              $('#dv-number').text("DV NUMBER: "+dv_no);
  
              var selectElement = $("#payroll-name");
              selectElement.empty();
              selectElement.append($('<option></option>'));
  
              $.each(data.data, function (index, item) {
                  selectElement.append($('<option>', {
                      value: item.id,
                      text: item.name
                  }));
              });
  
              if ($('#payroll-name').length) {
                  $('#payroll-name').wrap('<div class="position-relative"></div>');
                  $('#payroll-name').select2({
                      placeholder: 'Choose Employee',
                      dropdownParent: $('#payroll-name').parent(),
                      allowClear: true,
                  });
              }
          });
      }
  
      function table_m (){
          const table2 = $('#tbl-box-a');
  
          if ($.fn.DataTable.isDataTable('#tbl-box-a')) {
          table2.DataTable().destroy();
          }
  
          dataTable2 = table2.DataTable({
              autoWidth: true,
              processing: true,
              serverSide: true,
              ajax: {
                  url: "{% url 'employee-dv' %}",
                  data: function (d) {
                      d.dv_id = dv_no_id;
                  },
              },
              columns: [
                  { data: 'id' },
                  { data: 'code' },
                  { data: 'account_no' },
                  { data: 'id_no' },
                  { data: 'name' },
                  { data: 'total', final_amount: 'final_amount' },
                  { data: 'purpose' },
                  { data: 'multiple_charges'},
              ],
          
              columnDefs: [
                  {
                      targets: 0,
                      render: function(data, type, row, meta) {
                          return meta.row + 1;
                      },
                  },
                  {
                      targets: 1,
                      render: function(data) {
                        return '<span class="badge bg-label-primary">' + data + '<span>';
                      },
                  },
                  {
                      targets: 2,
                      render: function(data) {
                          return (!data && data !== 0) ? '' : '<span class="badge bg-label-warning">' + data + '</span>';
                      },
                  },
                  {
                      targets: 3,
                      render: function(data) {
                          return '<span class="badge bg-label-primary">' + data + '<span>'
                      },
                  },

                  {
                    targets: 5,
                    render: function (data) {
                        return data
                        },
                    },
                  {
                      targets: 6,
                      render: function (data) {
                          return data
                      },
                  },
              ],
              dom: '<"card-header flex-column flex-md-row"<"head-label text-center"><"dt-action-buttons text-end pt-3 pt-md-0"B>><"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"f>>t<"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
              buttons: [],
              drawCallback: function (settings) {
                  let myDataTable = $('#tbl-box-a').DataTable();
                  let totalAmount = 0;

                  myDataTable.column(5, { search: 'applied' }).data().each(function (value) {
                      totalAmount += parseFloat(value);
                  });
                  let formattedTotalAmount = totalAmount.toLocaleString('en-US', {
                      minimumFractionDigits: 2,
                      maximumFractionDigits: 2,
                  });
                  $('#total-amount').text("₱ " + formattedTotalAmount);
              }
          });
      }
      $('div.head-label').html('<h5 class="card-title mb-0 d-flex align-items-center">'+
          '<select id="dp-year" name="DpYear" class="form-select me-3">'+
              '<option value="2023">2023</option>'+
              '<option value="2024">2024</option>'+
          '</select>' +
          '<button type="submit" id="received" class="btn btn-primary me-3">Receive</button>' +
          '<button type="submit" id="forward" class="btn btn-success">Forward</button>' +
          '</h5>');
  
  
          function clear_advfilter(){
              BoxDvNo.val('Choose').trigger('change');
              FCluster.val('').trigger('change');
              FDivision.val('').trigger('change');
              FBoxIn.val('');
              FDateReceived.val('');
              FDateForwarded.val('');
              BoxStatus.val('').trigger('change');
        }
  
          BoxDvNo.on('change', function() {
              selectedDv = BoxDvNo.val();
          });
  
          search_advance_filter.on('click', function () {
              FAdvancedFilter.val("true");
              $("#advance-filter").modal("hide");
              dataTable.ajax.reload();
              clear_advfilter();
              toastr.success('Search successfully', 'Success', toast_options);
          });
  
          reset_advance_filter.on('click', function () {
                  FAdvancedFilter.val('');
                  $("#advance-filter").modal("hide");
                  dataTable.ajax.reload();
                  toastr.success('Data has been reset', 'Success', toast_options);
          });
  
          clear_advance_filter.on('click', function () {
              clear_advfilter();
              toastr.success('Clear successfully', 'Success', toast_options);
          });
  
        function clearFlatpickr(){
          var dateField = $('#dateField').flatpickr({
            mode: 'multiple',
            allowInput: true,
            dateFormat: 'd-m-Y',
            locale: {
                'firstDayOfWeek': 1 // start week on Monday
            },
          });
          
          dateField.clear();;
        }
  
        function RenderFlatpickr(){
            var dateField = $('#dateField').flatpickr({
              mode: 'multiple',
              allowInput: true,
              dateFormat: 'd-m-Y',
              locale: {
                  'firstDayOfWeek': 1 
              },
            });
          $("#dateField").on("change", function() {
              if(DateTravel.val()){
                  $(".rangeTravel").prop("disabled", true);
              }
              else{
                  $(".rangeTravel").prop("disabled", false);
              } 
            });
  
          $(".rangeTravel").on("change", function() {
              if(RangeTravel.val()){
                  $("#dateField").prop("disabled", true);
              }
              else{
                  $("#dateField").prop("disabled", false);
              } 
            });
        }
  
        function outgoing(status_id){
          selectedCb = $.grep(selectedCb, function(value) {
              return value !== 'on';
          })
          let title_ = (status_id == 0) ? 'Mark as Received, Are you sure?' : 'Are you sure? Please Confirm to forward';
          Swal.fire({
              title: title_,
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonText: 'Confirm',
              customClass: {
                  confirmButton: 'btn btn-primary me-3',
                  cancelButton: 'btn btn-label-secondary',
              },
              buttonsStyling: false,
          }).then(function (result) {
              if (result.value) {
                  let post_url = status_id == '0' ? "{% url 'receive-budget' %}" : "{% url 'forward-budget' %}"
                  $.ajax({
                      type: 'POST',
                      url: post_url,
                      data:{
                          out_list: selectedCb
                      }
                  }).done(function (data) {
                      if (data.data == 'success') {
                          selectedCb = [];
                          Swal.fire({
                              icon: 'success',
                              title: 'Successfully save!',
                              text: 'Item has been added.',
                              customClass: {
                                  confirmButton: 'btn btn-success',
                              },
                          })
                          dataTable.ajax.reload()
                      } else {
                          Swal.fire({
                              icon: 'error',
                              title: 'Error Saving!',
                              html: "<b>"+ data.data + "</b>"+ "<br>" + data.message,
                              customClass: {
                                  confirmButton: 'btn btn-success',
                              },
                          })
                      }
                  })
              }
          })
  
          }   
          $('#add_charges').click(function () {     
              var newRow = $('<div class="row mt-2">' +
                  '<div class="col-5">' +
                  '<select class="form-select select-charges" id="select-charges">' +
                      '<option></option>'+
                      '{% for row in charges %}'+
                      '<option value="{{ row.id }}">{{ row.name }}</option>'+
                      '{% endfor %}'+
                  '</select>' +
                  '<span class="error-label">Required</span>'+
                  '</div>' +
                  '<div class="col-5">' +
                  '<input type="text" id="charges_amount" name="ChargesAmount" placeholder="0.00" class="form-control input-date" value="" />'+
                  '<span class="error-label-amount">Required</span>'+
                  '</div>' +
                  '<div class="col-2">' +
                  '<button type="button" class="btn btn-warning delete-row">-</button>' +
                  '</div>' +
                  '</div>');
                  newRow.find('.error-label, .error-label-amount').hide();
              $('.rows-container').append(newRow);
          });
  
          $('.container').on('click', '.delete-row', function () {
              $(this).closest('.row').remove();
          });
  
          $(document).ready(function () {
              $('#dp-year').val(year_now); 
          });
  
          $('#dp-year').change(function () {
              year_now = $(this).val();
              let dataTable = $('#tbl-items').DataTable();
              dataTable.ajax.reload();
          });
  
          $(document).on("change", ".emp-purpose", function () {
              let dataTable = $('#tbl-box-a').DataTable();
              let closestRow = dataTable.row($(this).closest('tr'));
              let rowData = closestRow.data();
              let tev_id = rowData.id;
              let purpose = $(this).val();
  
              $.ajax({
                  type: 'POST',
                  url: "{% url 'update-purpose' %}",
                  data:{
                      te_id: tev_id,
                      value: purpose
                  }
              }).done(function (data) {
                  if (data.data == 'success') {
                      toastr.success('Purpose Added Successfully ', 'Success', toast_options);
                  }
                  else{
                      toastr.error('Cannot Saved Please Contact IT Administrator', 'Invalid', toast_options);
                  }
              });
  
          });
  
  
          
          $(document).on("change", ".emp-charges", function () {
              let dataTable = $('#tbl-box-a').DataTable();
              let closestRow = dataTable.row($(this).closest('tr'));
              let rowData = closestRow.data();
              let new_id = rowData.id;
              let empChargesValue = $(this).val();
              let empChargesText =  $(this).find(':selected').text();
  
              let selectedOption = $(this).find(":selected");
              if (selectedOption.length > 0) {
                  temp_id = rowData.id;
                  if (empChargesText=== "Multiple") {
                      $("#payrollUpdate").modal("show");
                      $.ajax({
                          type: 'POST',
                          url: "{% url 'multiple-charges-details' %}",
                          data:{
                              payroll_id: temp_id
                          }
                      }).done(function (data) {
                          let totalAmount = 0;
                          let amountList = [];
                          let chargesList = [];
                          let preview_amt = [];
                          let preview_charges = [];
                          let full_name = data.full_name;
                          let amount = data.amount;
                          FName.val(full_name);
                          AmountIssued.val(amount);
                          $('.rows-container').empty();
                          chargesList = data.data.map(item => item.charges_id);
                          amountList = data.data.map(item => item.amount);
                          if (data.data.length > 0) {
                              for (let i = 0; i < data.data.length; i++) {
                                  var newRow = $('<div class="row mt-2">' +
                                  '<div class="col-5">' +
                                  '<select class="form-select select-charges" id="select-charges-'+i+'">' +
                                      '<option></option>'+
                                      '{% for row in charges %}'+
                                      '{% if row.name != "Multiple" %}'+
                                          '<option value="{{ row.id }}">{{ row.name }}</option>'+
                                          '{% endif %}'+
                                      '{% endfor %}'+
                                  '</select>' +
                                  '<span class="error-label">Required</span>'+
                                  '</div>' +
                                  '<div class="col-5">' +
                                  '<input type="text" id="charges_amount" name="ChargesAmount" placeholder="0.00" class="form-control input-date" value="' + amountList[i] + '" />'+
                                  '<span class="error-label-amount">Required</span>'+
                                  '</div>' +
                                  '<div class="col-2">' +
                                  '<button type="button" class="btn btn-warning delete-row">-</button>' +
                                  '</div>' +
                                  '</div>');
                                  newRow.find('.error-label, .error-label-amount').hide();
                                  $('.rows-container').append(newRow);
                                  $(`#select-charges-${i}`).val(chargesList[i]).trigger('change');
                              }
                          } else {
                              var newRow = $('<div class="row mt-2">' +
                              '<div class="col-5">' +
                              '<select class="form-select select-charges" id="select-charges">' +
                                  '<option></option>'+
                                  '{% for row in charges %}'+
                                      '{% if row.name != "Multiple" %}'+
                                          '<option value="{{ row.id }}">{{ row.name }}</option>'+
                                      '{% endif %}'+
                                  '{% endfor %}'+
                              '</select>' +
                              '<span class="error-label">Required</span>'+
                              '</div>' +
                              '<div class="col-5">' +
                              '<input type="text" id="charges_amount" name="ChargesAmount" placeholder="0.00" class="form-control input-date" value="" />'+
                              '<span class="error-label-amount">Required</span>'+
                              '</div>' +
                              '<div class="col-2">' +
                              '<button type="button" class="btn btn-warning delete-row">-</button>' +
                              '</div>' +
                              '</div>');
                              newRow.find('.error-label, .error-label-amount').hide();
                              $('.rows-container').append(newRow);
                          }
                      });
                  }
                  else{
                  $.ajax({
                      type: 'POST',
                      url: "{% url 'check-charges' %}",
                      data:{
                          incoming_id: temp_id
                      }
                  }).done(function (data) {
                      let amount = data.amt;
                      if(data.data){
                      
                          Swal.fire({
                              title: 'Are you sure to Change Charges?',
                              text: "You won't be able to revert this!",
                              icon: 'warning',
                              showCancelButton: true,
                              confirmButtonText: 'Yes, change it!',
                              customClass: {
                                  confirmButton: 'btn btn-primary me-3',
                                  cancelButton: 'btn btn-label-secondary',
                              },
                              buttonsStyling: false,
                          }).then(function (result) {
                              if (result.value) {
                                  
  
                                  $.ajax({
                                      type: 'POST',
                                      url: "{% url 'remove-charges' %}",
                                      data: {
                                          incoming_id: temp_id,
                                          charge_id:empChargesValue,
                                          amt:amount
                                      }
                                  }).done(function (data) {
                                      dataTable.ajax.reload(null, false);
                                  })
                                  }
                              });
                      }
                      else{
                          $.ajax({
                              type: 'POST',
                              url: "{% url 'payroll-add-charges' %}",
                              data:{
                                  incoming_id: temp_id,
                                  charge_id:empChargesValue,
                                  amt:amount
                              }
                              }).done(function (data) {
                              dataTable.ajax.reload();
                          });
                      }
                  });
                  }
              } else {
                  alert("No charge selected");
              }
          });
  
  
                  
          $(document).on("change", ".payroll-name", function () {
              let inc_id = $(this).val();
              $.ajax({
                  type: 'POST',
                  url: "{% url 'add-emp-dv' %}",
                  data:{
                      tev_id: inc_id,
                      dv_no: dv_number
                  }
              }).done(function (data) {
                  employee_list();
                  dataTable2.ajax.reload();
                  toastr.success('Added Successfully ', 'Success', toast_options);
              });
          });
  
  
  
  
  
          $('#save-multiple-charges').click(function() {
              let selectedIDs = [];
              let selectedAmount = [];  
              let status = 7;
              let hasError = 0;
              $('.rows-container .row').each(function() {
                  let selectElement = $(this).find('.select-charges');
                  let selectElementDate = $(this).find('.select-charges');
                  let selectedValue = selectElement.val();
                  let selectErrorLabel = selectElement.siblings(".error-label");
  
                  let inputElement = $(this).find('.input-date');
                  let inputValue = inputElement.val();
                  let inputErrorLabel = inputElement.siblings(".error-label-amount");
  
                  if (selectedValue !== "") {
                      selectedIDs.push(selectedValue);
                      selectElement.removeClass('has-error');
                      selectErrorLabel.hide();
                  } else {
                      hasError++;
                      selectElement.addClass('has-error');
                      selectErrorLabel.show();
                  }
                  if (inputValue !== "") {
                      selectedAmount.push(inputValue);
                      inputElement.removeClass('has-error');
                      inputErrorLabel.hide();
                  } else {
                      hasError++;
                      inputElement.addClass('has-error');
                      inputErrorLabel.show();
                  }
              });
              let amountsAsNumbers = selectedAmount.map(amount => parseFloat(amount));
              let totalAmount = amountsAsNumbers.reduce((total, amount) => total + amount, 0);
              if (selectedIDs.length > 0 && hasError ==0) {
                  let selectedAmountNumber = parseFloat(selectedAmount[0]); 
                  let amt_issued = AmountIssued.val();
  
                  if( amt_issued > totalAmount){
                      toastr.error('Amount Lacking', 'Invalid', toast_options);
                  }
                  else if ( amt_issued < totalAmount){
                      toastr.error('Amount Exceeds', 'Invalid', toast_options);
                  }
                  else{
                      $.ajax({
                          type: "POST",
                          url: "{% url 'update-multiple-charges' %}",
                          data:{
                              amount: selectedAmount,
                              incoming_id: temp_id,
                              charges_id : selectedIDs,
                              amt_issued : amt_issued
                          }
                          }).done(function(data){
                              if (data.data == 'success') {
                                $('#payrollDetails').modal('hide');
                                $("#payrollUpdate").modal("hide");
                                dataTable2.ajax.reload();
                                toastr.success('Successfully save', 'Success', toast_options);
                              }
                              else {
                                  toastr.danger('Data not saved', 'Danger', toast_options);
                              }
                      });
                      
                  }
  
              }
          });
      })
  </script>
  {% endblock footer_scripts %}